#bound {
    width: 1024px;
    height: auto;
    text-align: left;
    background-color:#fff;
    
    padding:30px;
    margin-top:10px;
}

body {
    background-color:#eee;
    font-family:"Ubuntu Light";
    font-size: 18px;
    padding:0px;
    margin:0px;
}

h1 { 
    color: #ff2712;
}

h3 { 
    color: #ff2712;
    margin:0px;
}

hr {
    background: #ff2712;
    border: 0; height: 1px;
}

#left-pane {
    width:20%;
    float:left;

}

#right-pane {
    width:80%;
    float:left;
}

.side-block {
    background-color:#fff;
    padding:20px;
    margin:10px;
}

.side-block-2 {
    background-color:#fff;
    padding:20px;
    margin:10px;
}

#create-new {
    background-color:rgb(230,230,230);
    padding:10px;
    padding-left:20px;
    margin:10px;
    color:rgb(100,100,100);
    font-size: 14px;
    cursor:pointer;
}



.scenario-nav {
    padding:5px;
    font-size:16px;
}

.scenario-nav a {
    text-decoration: none;
    color:#000;
}

.scenario-nav a:hover {
    text-decoration: none;
    color: #ff2712;
}

.scenario-nav-heading {
    padding-top:20px;
    padding-bottom:5px;
    font-size:14px;
    font-weight:bold;
    color:#555;
}

.table {
    width:100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
}

.table td {
    border-top: 1px solid #DDD;
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
}

.table th {
    text-align:left;
    border-top: 1px solid #DDD;
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
}

    input[type="text"] {
        padding:3px;
        font-family:"Ubuntu Light";
        font-size: 16px;
        color: #ff2712;

    }
    
    button {
        padding:10px;
        font-family:"Ubuntu Light";
        font-size: 16px;
    }
    
    i {
    font-size: 14px;
    }
    
    
    .navbar-fixed-top {
        position: fixed;
        right: 0px;
        left: 0px;
        z-index: 1030;
        margin-bottom: 0px;
    }   
    

