/**
 * Modified Version of
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 * ( Only applies to the wrapper and removed some rarer elements)
 */
.carbon-report-wrapper {
    /* HTML5 display-role reset for older browsers */ }
.carbon-report-wrapper div, .carbon-report-wrapper span, .carbon-report-wrapper object, .carbon-report-wrapper iframe,
.carbon-report-wrapper h1, .carbon-report-wrapper h2, .carbon-report-wrapper h3, .carbon-report-wrapper h4, .carbon-report-wrapper h5, .carbon-report-wrapper h6, .carbon-report-wrapper p, .carbon-report-wrapper blockquote, .carbon-report-wrapper pre,
.carbon-report-wrapper a, .carbon-report-wrapper em, .carbon-report-wrapper img, .carbon-report-wrapper q, .carbon-report-wrapper s, .carbon-report-wrapper small, .carbon-report-wrapper strike,
.carbon-report-wrapper b, .carbon-report-wrapper u, .carbon-report-wrapper i, .carbon-report-wrapper center, .carbon-report-wrapper strong,
.carbon-report-wrapper dl, .carbon-report-wrapper dt, .carbon-report-wrapper dd, .carbon-report-wrapper ol, .carbon-report-wrapper ul, .carbon-report-wrapper li, .carbon-report-wrapper label,
.carbon-report-wrapper table, .carbon-report-wrapper caption, .carbon-report-wrapper tbody, .carbon-report-wrapper tfoot, .carbon-report-wrapper thead, .carbon-report-wrapper tr, .carbon-report-wrapper th, .carbon-report-wrapper td,
.carbon-report-wrapper article, .carbon-report-wrapper canvas, .carbon-report-wrapper footer, .carbon-report-wrapper header,
.carbon-report-wrapper menu, .carbon-report-wrapper nav, .carbon-report-wrapper output, .carbon-report-wrapper section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
.carbon-report-wrapper article, .carbon-report-wrapper aside, .carbon-report-wrapper details, .carbon-report-wrapper figcaption, .carbon-report-wrapper figure,
.carbon-report-wrapper footer, .carbon-report-wrapper header, .carbon-report-wrapper hgroup, .carbon-report-wrapper menu, .carbon-report-wrapper nav, .carbon-report-wrapper section {
    display: block; }
.carbon-report-wrapper body {
    line-height: 1; }
.carbon-report-wrapper ol, .carbon-report-wrapper ul {
    list-style: none; }
.carbon-report-wrapper blockquote, .carbon-report-wrapper q {
    quotes: none; }
.carbon-report-wrapper blockquote:before, .carbon-report-wrapper blockquote:after,
.carbon-report-wrapper q:before, .carbon-report-wrapper q:after {
    content: '';
    content: none; }
.carbon-report-wrapper table {
    border-collapse: collapse;
    border-spacing: 0; }
.carbon-report-wrapper *, .carbon-report-wrapper *:after, .carbon-report-wrapper *:before {
    box-sizing: border-box; }

.carbon-report-wrapper {
    font: 1rem/1.4 "Karla", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px; }
.carbon-report-wrapper .top-border-title {
    display: block;
    width: 100%;
    padding-top: 0.1em;
    margin-bottom: 0.5em;
    border-top: 1px dashed #e41b3a;
    color: #e41b3a; }
.carbon-report-wrapper .doc-title {
    margin-top: 1.5em; }
.carbon-report-wrapper .doc-title, .carbon-report-wrapper .section-title, .carbon-report-wrapper .red-highlight {
    color: #e41b3a; }
.carbon-report-wrapper h1, .carbon-report-wrapper .doc-title, .carbon-report-wrapper .doc-sub-title {
    font: bold 2.75rem/1.1 "Karla", sans-serif; }
.carbon-report-wrapper .section-title, .carbon-report-wrapper .section-title > * {
    font: bold 2.25rem/1.1 "Karla", sans-serif; }
.carbon-report-wrapper h2 {
    font: bold 1.75rem/1.2 "Karla", sans-serif; }
.carbon-report-wrapper h3 {
    font: bold 1.5rem/1.2 "Karla", sans-serif; }
.carbon-report-wrapper h4 {
    font: bold 1rem/1.2 "Karla", sans-serif; }
.carbon-report-wrapper i {
    font-style: italic;
    color: #8c7e8b; }
.carbon-report-wrapper strong {
    font-weight: bold;
    color: #e41b3a; }
.carbon-report-wrapper p {
    font: 1rem/1.4 "Karla", sans-serif;
    color: #574d56;
    margin-bottom: 1em; }
.carbon-report-wrapper .section-sub-title {
    font-weight: normal;
    color: #574d56; }
.carbon-report-wrapper .bolded {
    font-weight: bold; }
.carbon-report-wrapper .title-margin-top {
    margin-top: 3rem; }
.carbon-report-wrapper .title-extra-margin-top {
    margin-top: 4rem; }
.carbon-report-wrapper .title-margin-bottom {
    margin-bottom: 2rem; }
.carbon-report-wrapper .section-title {
    margin-bottom: 1.75em;
    margin-top: 3em; }
.carbon-report-wrapper .section-title, .carbon-report-wrapper .doc-title {
    display: block;
    width: 100%;
    padding-top: 0.2em;
    border-top: 2px solid red; }
.carbon-report-wrapper .disclaimer {
    display: block;
    font-style: italic;
    color: #9d9d9c;
    margin-bottom: 1em; }
.carbon-report-wrapper .no-orphans p {
    orphans: 20;
    widows: 20; }
.carbon-report-wrapper .two-col-text {
    margin-bottom: 1em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2rem;
    -moz-column-gap: 2rem;
    -ms-column-gap: 2rem;
    -o-column-gap: 2rem;
    column-gap: 2rem;
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    -ms-column-width: 300px;
    -o-column-width: 300px;
    column-width: 300px; }
.carbon-report-wrapper .two-col-text p {
    orphans: 4;
    widows: 4; }

@media screen and (max-width: 700px) {
    .carbon-report-wrapper h1, .carbon-report-wrapper .doc-title, .carbon-report-wrapper .doc-sub-title {
        font: bold 2.25rem/1.1 "Karla", sans-serif; }
    .carbon-report-wrapper .section-title, .carbon-report-wrapper .section-title > * {
        font: bold 1.75rem/1.2 "Karla", sans-serif; }
    .carbon-report-wrapper h2 {
        font: bold 1.5rem/1.2 "Karla", sans-serif; }
    .carbon-report-wrapper h4, .carbon-report-wrapper h3 {
        font: bold 1rem/1.2 "Karla", sans-serif; } }
@media screen and (max-width: 500px) {
    .carbon-report-wrapper h1, .carbon-report-wrapper .doc-title, .carbon-report-wrapper .doc-sub-title {
        font: bold 1.75rem/1.2 "Karla", sans-serif; }
    .carbon-report-wrapper .section-title, .carbon-report-wrapper .section-title > *, .carbon-report-wrapper h2 {
        font: bold 1.5rem/1.2 "Karla", sans-serif; }
    .carbon-report-wrapper h4, .carbon-report-wrapper h3 {
        font: bold 1rem/1.2 "Karla", sans-serif; } }
.carbon-report-wrapper .highlight-box {
    padding: 30px;
    display: block;
    margin-bottom: 1em; }
.carbon-report-wrapper .highlight-box :last-child {
    margin-bottom: 0; }
.carbon-report-wrapper .highlight-box.pink-highlight {
    background: #fef2ef; }
.carbon-report-wrapper .highlight-box + .highlight-box {
    margin-top: 3em; }
.carbon-report-wrapper .image-figure {
    margin: 20px auto;
    display: block; }
.carbon-report-wrapper .comfort-tables {
    overflow: hidden; }
.carbon-report-wrapper .comfort-table-wrapper {
    margin-bottom: 40px;
    float: left;
    width: 50%; }
@media screen and (max-width: 700px) {
    .carbon-report-wrapper .highlight-box {
        padding: 15px; } }

.graph-placeholder {
    width: 100%;
    display: block; }

.bar-chart-container canvas {
    max-width: 80% !important;
    margin: 0 auto;
    display: block; }

.bar-chart-container {
    padding: 50px 0 !important;
    max-width: 100%;
    background-color: white; }

.bar-chart-container.centered-house {
    text-align: center; }

.carbon-report-wrapper {
    /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */ }
.carbon-report-wrapper .sap-table {
    border: solid 1px #e41b3a;
    text-align: center; }
.carbon-report-wrapper .sap-table thead {
    background: #e41b3a;
    color: white; }
.carbon-report-wrapper .sap-table th, .carbon-report-wrapper .sap-table td {
    padding: 10px 15px;
    text-align: left; }
.carbon-report-wrapper .sap-table td {
    background: white; }
.carbon-report-wrapper .three-col-table {
    margin-bottom: 1em;
    width: 100%;
    text-align: left; }
.carbon-report-wrapper .three-col-table thead th {
    position: relative;
    color: #e41b3a; }
.carbon-report-wrapper .three-col-table thead th:before, .carbon-report-wrapper .three-col-table thead th:after {
    content: '';
    display: block;
    height: 1px;
    background: #e41b3a;
    left: 15px;
    right: 15px;
    position: absolute; }
.carbon-report-wrapper .three-col-table thead th:before {
    top: 0; }
.carbon-report-wrapper .three-col-table thead th:after {
    bottom: 0; }
.carbon-report-wrapper .three-col-table thead th:last-of-type:before, .carbon-report-wrapper .three-col-table thead th:last-of-type:after {
    right: 0; }
.carbon-report-wrapper .three-col-table td, .carbon-report-wrapper .three-col-table th {
    padding: 10px 0 10px 15px;
    width: 25%; }
.carbon-report-wrapper .three-col-table td {
    color: #574d56; }
.carbon-report-wrapper .three-col-table .half-width {
    width: 50%;
    padding-left: 0;
    color: black; }
.carbon-report-wrapper .three-col-table .half-width:before, .carbon-report-wrapper .three-col-table .half-width:after {
    left: 0;
    right: 15px; }
.carbon-report-wrapper .five-col-table {
    border-spacing: 15px;
    border-collapse: separate;
    text-align: left;
    margin: 0 -15px 1em -15px; }
.carbon-report-wrapper .five-col-table .highlighted-col {
    color: #e41b3a; }
.carbon-report-wrapper .five-col-table th {
    color: #e41b3a;
    font-weight: bold;
    border-top: 2px solid #e41b3a;
    padding-top: 7px;
    padding-bottom: 15px; }
.carbon-report-wrapper .five-col-table td {
    border-bottom: 1px dashed #e41b3a;
    padding-bottom: 15px; }
.carbon-report-wrapper .five-col-table .text-width-limiter {
    max-width: 450px; }
.carbon-report-wrapper .five-col-table .highlighted-col {
    width: 15%; }
.carbon-report-wrapper .five-col-table .cost {
    width: 5%; }
.carbon-report-wrapper .five-col-table tr:last-of-type td {
    border-bottom: 0; }
.carbon-report-wrapper .table-sub-total {
    border-top: 2px solid #e41b3a;
    padding-top: 7px;
    float: right;
    width: 50%;
    text-align: left; }
.carbon-report-wrapper .table-sub-total .sub-total {
    display: block;
    line-height: 1;
    font-weight: bold; }
.carbon-report-wrapper .five-col-table-wrapper {
    margin-bottom: 2em; }
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .carbon-report-wrapper .five-col-table, .carbon-report-wrapper .three-col-table {
        border-spacing: 0;
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto 2em auto;
        /* Force table to not be like tables anymore */
        /* Hide table headers (but not display: none;, for accessibility) */
        /*
        Label the data
        */ }
    .carbon-report-wrapper .five-col-table table, .carbon-report-wrapper .five-col-table thead, .carbon-report-wrapper .five-col-table tbody, .carbon-report-wrapper .five-col-table th, .carbon-report-wrapper .five-col-table td, .carbon-report-wrapper .five-col-table tr, .carbon-report-wrapper .three-col-table table, .carbon-report-wrapper .three-col-table thead, .carbon-report-wrapper .three-col-table tbody, .carbon-report-wrapper .three-col-table th, .carbon-report-wrapper .three-col-table td, .carbon-report-wrapper .three-col-table tr {
        display: block; }
    .carbon-report-wrapper .five-col-table thead tr, .carbon-report-wrapper .three-col-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px; }
    .carbon-report-wrapper .five-col-table tr, .carbon-report-wrapper .three-col-table tr {
        border-top: 1px solid #e41b3a;
        border-bottom: 1px solid #e41b3a;
        padding: 20px 0; }
    .carbon-report-wrapper .five-col-table td, .carbon-report-wrapper .three-col-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        padding-top: 15px; }
    .carbon-report-wrapper .five-col-table td:before, .carbon-report-wrapper .three-col-table td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 15px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap; }
    .carbon-report-wrapper .five-col-table .highlighted-col, .carbon-report-wrapper .five-col-table .cost, .carbon-report-wrapper .three-col-table .highlighted-col, .carbon-report-wrapper .three-col-table .cost {
        width: 100%; }
    .carbon-report-wrapper .five-col-table tr td:last-of-type, .carbon-report-wrapper .three-col-table tr td:last-of-type {
        border-bottom: none; }
    .carbon-report-wrapper .table-sub-total {
        margin-top: 2em;
        float: left; }
    /*.carbon-report-wrapper .five-col-table td:nth-of-type(1):before {
      content: "Name"; }
    .carbon-report-wrapper .five-col-table td:nth-of-type(2):before {
      content: "Description"; }
    .carbon-report-wrapper .five-col-table td:nth-of-type(3):before {
      content: "Benefits (in order)"; }
    .carbon-report-wrapper .five-col-table td:nth-of-type(4):before {
      content: "Cost"; }
    .carbon-report-wrapper .five-col-table td:nth-of-type(5):before {
      content: "Completed By"; }
    .carbon-report-wrapper .three-col-table td:nth-of-type(1):before {
      content: "Typical Home (SAP)"; }
    .carbon-report-wrapper .three-col-table td:nth-of-type(2):before {
      content: "Your Home"; }
    .carbon-report-wrapper .three-col-table td {
      padding-left: 0%;
      width: 100%;
      padding-top: 50px; }
    .carbon-report-wrapper .three-col-table td:before {
      left: 0px; }*/ }
@media only screen and (max-width: 465px) {
    .carbon-report-wrapper .five-col-table td {
        padding-left: 0%;
        width: 100%;
        padding-top: 50px; }
    .carbon-report-wrapper .five-col-table td:before {
        left: 0px; } }
.carbon-report-wrapper .data-table {
    border-collapse: collapse;
    border-spacing: 0; }
.carbon-report-wrapper .data-table td {
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal; }
.carbon-report-wrapper .data-table th, .carbon-report-wrapper .data-table .th {
    font-size: 14px;
    font-weight: normal;
    font-weight: bold;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    background: #fef2ef;
    color: #e41b3a;
    vertical-align: top; }
.carbon-report-wrapper .comfort-table-option {
    border: solid 1px #e41b3a;
    width: 30px;
    height: 30px; }
.carbon-report-wrapper .extreme-left, .carbon-report-wrapper .extreme-right {
    width: 100px;
    padding: 5px;
    font-size: 14px; }
.carbon-report-wrapper .extreme-left {
    text-align: right; }

.carbon-report-wrapper .right-align-item-list {
    margin-bottom: 2rem;
    margin-top: 2rem; }
.carbon-report-wrapper .right-align-item-list li {
    margin-left: 30px;
    border-bottom: 1px dashed #e41b3a;
    margin-top: 1rem; }
.carbon-report-wrapper .right-align-item-list:after {
    content: '';
    display: block;
    clear: both; }
.carbon-report-wrapper .indented-list {
    margin-left: 30px; }
.carbon-report-wrapper .indented-list li {
    margin-bottom: 1.5em; }
.carbon-report-wrapper .indented-list p:first-child {
    margin-left: 0; }
.carbon-report-wrapper .indented-list .indented-list {
    margin-left: 30px; }
.carbon-report-wrapper .indented-list .indented-list li {
    margin-bottom: 0;
    margin-left: 30px; }
.carbon-report-wrapper .indented-list .indented-list p {
    margin-bottom: 0.5em; }
@media screen and (max-width: 675px) {
    .carbon-report-wrapper .right-align-item-list li {
        width: 100%; }
    .carbon-report-wrapper .right-align-item-list {
        margin-bottom: 0rem; } }

.carbon-report-wrapper .view-more-button {
    width: 100%;
    display: block;
    padding: 0.5em 1em;
    background: #fef2ef;
    font-weight: bold;
    text-decoration: none;
    color: #e41b3a;
    font-size: 1.2em;
    position: relative;
    padding-right: 70px; }
.carbon-report-wrapper .view-more-button .right-hand-image-block {
    display: block;
    height: 100%;
    width: 55px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #e41b3a; }
.carbon-report-wrapper .view-more-button .right-hand-image-block img {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block; }

.carbon-report-wrapper .grid {
    margin: 0 -15px; }
.carbon-report-wrapper .grid.grid-margin-bottom {
    margin: 0 -15px 4em -15px; }
.carbon-report-wrapper .grid:after {
    content: '';
    display: block;
    clear: both; }
.carbon-report-wrapper .col-1, .carbon-report-wrapper .col-2, .carbon-report-wrapper .col-3, .carbon-report-wrapper .col-4, .carbon-report-wrapper .col-5 {
    float: left;
    padding: 0 15px; }
.carbon-report-wrapper .col-1 {
    width: 100%; }
.carbon-report-wrapper .col-2 {
    width: 50%; }
.carbon-report-wrapper .col-3 {
    width: 33.33333%; }
.carbon-report-wrapper .col-4 {
    width: 25%; }
.carbon-report-wrapper .col-5 {
    width: 20%; }
@media screen and (max-width: 1000px) {
    .carbon-report-wrapper .col-2 {
        width: 100%; } }
@media screen and (max-width: 600px) {
    .carbon-report-wrapper .col-2, .carbon-report-wrapper .col-3, .carbon-report-wrapper .col-4, .carbon-report-wrapper .col-5 {
        width: 100%; } }

.carbon-report-wrapper .page-wrapper {
    max-width: 1100px;
    margin: 0 auto; }
.carbon-report-wrapper .page-wrapper > section:last-of-type {
    margin-bottom: 5em; }
.carbon-report-wrapper pre {
    word-break: normal;
    background: none;
    white-space: pre-wrap;
    /* CSS 3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */ }
@media screen and (max-width: 1100px) {
    .carbon-report-wrapper section {
        padding: 0 20px; } }
@media screen and (max-width: 700px) {
    .carbon-report-wrapper section {
        padding: 15px; } }

.carbon-report-wrapper .doc-sub-title {
    color: #574d56; }
.carbon-report-wrapper .doc-title-wrapper {
    margin-bottom: 5em;
    margin-top: 2em; }

.carbon-report-wrapper footer {
    width: 100%;
    background: #ececec;
    padding: 2em 20px 4em 20px; }
.carbon-report-wrapper .footer-sponsor {
    width: 37.5%;
    float: left; }
.carbon-report-wrapper .footer-sponsor img {
    max-width: 82.5%;
    max-height: 90px; }
.carbon-report-wrapper .sponsor-wrapper:after {
    content: '';
    display: block;
    clear: both; }
.carbon-report-wrapper .carbon-coop-logo img {
    margin-top: 3%; }
@media screen and (max-width: 1000px) {
    .carbon-report-wrapper .footer-sponsor {
        width: 100%;
        margin-bottom: 1em; }
    .carbon-report-wrapper .footer-sponsor img {
        max-width: 40%; } }

.page-wrapper > section {
    page-break-after: always;
    page-break-inside: avoid; }

:root {
    -webkit-print-color-adjust: exact; }

.carbon-report-wrapper .home-image {
    width: 100%;
    display: block; }
.carbon-report-wrapper .client-info p {
    margin-bottom: 0.8em; }
.carbon-report-wrapper .client-info span {
    margin-bottom: 0; }
.carbon-report-wrapper .performance-summary-wrapper {
    background: white;
    padding: 40px; }
.carbon-report-wrapper .performace-summary-target-bar {
    margin-bottom: 40px; }
.carbon-report-wrapper #performace-summary-key {
    margin-bottom: 40px;
    border-top: 1px dashed #e41b3a;
    padding-top: 5px; }
.carbon-report-wrapper #performace-summary-key li {
    float: left;
    width: 25%;
    padding: 10px 0 20px; }
.carbon-report-wrapper .key-square {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: grey;
    position: relative;
    top: 3px; }

.house-heatloss-diagrams-wrapper {
    position: relative; }

.house-heatloss-diagrams-wrapper ul {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px; }

.house-heatloss-diagram-picker li {
    cursor: pointer; }

.house-heatloss-diagram-picker li:hover {
    color: #e41b3a; }

.house-heatloss-diagram-picker .selected {
    color: #e41b3a;
    text-decoration: underline; }

.carbon-report-wrapper .centered-house {
    border-bottom: solid 2px #fef2ef; }

.carbon-report-wrapper .centered-house svg {
    position: relative;
    left: 10px; }

#house-heatloss-diagram-master {
    display: block; }

#house-heatloss-diagram-scenario1,
#house-heatloss-diagram-scenario2,
#house-heatloss-diagram-scenario3,
.house-heatloss-diagrams-wrapper p {
    display: none; }

@media print {
    .house-heatloss-diagram-picker {
        display: none; }

    #house-heatloss-diagram-scenario1,
    #house-heatloss-diagram-scenario2,
    #house-heatloss-diagram-scenario3,
    .house-heatloss-diagrams-wrapper p {
        display: block !important;
    }
}

/*# sourceMappingURL=carbon.css.map */
