:root {
  --app-color: #ff2712;;
}

html, body {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color:#EEECE5;
    padding:0px;
    margin:0px;
}

h1 { 
    color: var(--app-color);
}

h3 { 
    color: var(--app-color);
    font-size:20px;
    line-height: 22px;
}

hr {
    background: var(--app-color);
    border: 0; height: 1px;
    margin:0px;
}

a {
    text-decoration: none;
    color:#000;
}

a:hover {
    text-decoration: none;
    color: var(--app-color);
}

#left-pane {
    width:340px;
    float:left;
}

#right-pane {
    width: auto;
    min-width:720px;
    max-width:1280px;
    overflow: hidden;
}

.side-block {
    background-color:#fff;
    padding:20px;
    margin:10px;
    
}

.side-block-2 {
    background-color:#fff;
    margin:10px;
}

.main-block {
    width:100%;
    height: auto;
    text-align: left;
    background-color:#fff;
    
    margin-top:10px;
}


#create-new {
    background-color:rgb(230,230,230);
    padding:10px;
    padding-left:20px;
    margin:10px;
    color:rgb(100,100,100);
    font-size: 14px;
}

.scenario-nav {
    padding:5px;
    font-size:16px;
}

.scenario-nav-heading {
    padding-top:20px;
    padding-bottom:5px;
    font-size:14px;
    font-weight:bold;
    color:#555;
}

input[type="checkbox"] {
  padding:0px;
  margin:0px;
}

#bound {
  max-width:1200px;
  height: auto;
  text-align: left;
  background-color:#fff;
  
  padding:30px;
  margin-top:10px;
}


.body-login {
	background-color: #1d8dbc;
}


#topgraphic #measures-costs{
  text-align:right;
  margin-top:-60px
}
    
#gallery i{
  vertical-align:top;
  cursor:pointer;
}

body .modal {
  /* new custom width */
  width: 1080px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -540px;
}

.modal-body {
  max-height: 800px;
}


