<hr>
<h3>Comments</h3>
<hr>
<br>
<p>Commentary to be included on report:</p>
<textarea key="data.household.commentary" style="width:98%; height:500px"></textarea>
<br><br>
<p>Assessment date (dd-mm-yyyy):<br>
    <input type="text" value="" key="data.household.assessment_date" style="width:300px" /></p>
<p>Assessor's name:<br>
    <input type="text" value="" key="data.household.assessors_name" style="width:300px" /></p>
<p>Assessor's biography:<br>
    <textarea type="text" style="width:98%; height:150px" key="data.household.assessors_biography" style="width:300px" /></p>
<p>Assessment image:<br>
    <input type="text" value="" key="data.household.houseimage" style="width:300px" /></p>


<br>
<hr>
<h3>1 Basic house data</h3>
<hr>
<br>
<p><b>1a Location</b></p>

<p>Name:<br>
    <input type="text" value="" key="data.household.1a_name" style="width:300px" /></p>

<p>Address line 1:<br>
    <input type="text" value="" key="data.household.1a_addressline1" style="width:300px" /></p>

<p>Address line 2:<br>
    <input type="text" value="" key="data.household.1a_addressline2" style="width:300px" /></p>

<p>Address line 3:<br>
    <input type="text" value="" key="data.household.1a_addressline3" style="width:300px" /></p>

<p>Town/city:<br>
    <input type="text" value="" key="data.household.1a_towncity" style="width:300px" /></p>

<p>Postcode:<br>
    <input type="text" value="" key="data.household.1a_postcode" style="width:300px" /></p>

<p>Local authority:<br>
    <input type="text" value="" key="data.household.1a_localauthority" style="width:300px" /></p>

<p>Lower Super Output Area (LSOA):<br>
    <input type="text" value="" key="data.household.1a_LSOA" style="width:300px" /></p>

<p>Conservation Area:<br>
    <select key="data.household.1a_conservationarea" style="width:180px">
        <option value="No">No</option>
        <option value="Yes">Yes</option>
        <option value="Dont Know">Dont know</option>
    </select></p>

<p>Listed Building:<br>
    <input key="data.household.1a_listedbuilding" type="checkbox" />
</p>

<p><b>1b House</b></p>

<p>House type:<br>
    <select key="data.household.1b_housetype" style="width:180px">
        <option value="flat-conversion">Flat (conversion)</option>
        <option value="flat-purposebuilt">Flat (purpose built)</option>
        <option value="mid-terrace">Mid-terrace</option>
        <option value="end-terrace">End-terrace</option>
        <option value="semi-detached">Semi-detached</option>
        <option value="detached">Detached</option>
    </select></p>

<p>Number of bedrooms<br>
    <input type="text" value="" key="data.household.1b_bedrooms" style="width:150px" /></p>

<!--<p>Number of storeys<br>
    <input type="text" value="" key="data.household.1b_bedrooms" style="width:150px" /></p>-->

<p>Age:<br>
    <select key="data.household.1b_agesap" style="width:180px">
        <option value="before-1900">Before 1900</option>
        <option value="1900-1929">1900 - 1929</option>
        <option value="1930-1949">1930 - 1949</option>
        <option value="1950-1966">1950 - 1966</option>
        <option value="1967-1975">1967 - 1975</option>
        <option value="1976-1982">1976 - 1982</option>
        <option value="1983-1990">1983 - 1990</option>
        <option value="1991-1995">1991 - 1995</option>
        <option value="1996-2002">1996 - 2002</option>
        <option value="2003-2006">2003 - 2006</option>
        <option value="2007-2011">2007 - 2011</option>
        <option value="2012 onwards">2012 onwards</option>
    </select></p>

<p>Exact year<br>
    <input type="text" value="" key="data.household.1b_age" style="width:150px" /></p>


<hr>
<h3>2 Household details</h3>
<hr>
<br>
<p><b>2a Tenure</b></p>

<p>Tenure:<br>
    <select key="data.household.2a_tenure">
        <option value="owner-occupied">Owner occupied</option>
        <option value="private-tenant">Private tenant</option>
        <option value="shared-ownership">Shared ownership</option>
        <option value="tenant-social-housing">Tenant (social housing)</option>
    </select>
</p>

<p>Length of occupancy:<br>
    <select key="data.household.2a_lengthofoccupancy">
        <option>Just moved in</option>
        <option>Less than 12 months</option>
        <option>1-2 years</option>
        <option>2+ years</option>
    </select>
</p>

<p><b>2b People and pets</b></p>

<p>Number of adults 18-65<br>
    <input type="text" value="" key="data.household.2b_adults18to65" style="width:150px" /></p>
<p>Number of adults 65+<br>
    <input type="text" value="" key="data.household.2b_adults65plus" style="width:150px" /></p>
<p>Number of children <5<br>
    <input type="text" value="" key="data.household.2b_childrenlessthan5" style="width:150px" /></p>
<p>Number of children 5-17<br>
    <input type="text" value="" key="data.household.2b_children5to17" style="width:150px" /></p>
<br>
<p>Do you have any pets?<br>
    <input type="text" value="" key="data.household.2b_pets" style="width:150px" /></p>
<br>
<p>Do you have any health conditions that could be caused or affected by living in a cold or damp home? If so, please describe and note who this affects.<br>
    <input type="text" value="" key="data.household.2b_health" style="width:150px" /></p>


<hr>
<h3>3 Heating, hot water and ventilation</h3>
<hr>
<br>
<p><b>3a Heating</b></p>

<p>Do you completely switch off your space heating over summer? 
    <select key="data.household.3a_heatingoffsummer" style="margin-left:20px;width:75px">
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>
</p>

<table class="table">
    <tr><td>
            <p>Room thermostat temperature setting<br>
                <input type="text" value="" key="data.household.3a_roomthermostat" style="width:100px" /></p>
        </td><td>
            <p>How do you use your room thermostat?<br>
                <input type="text" value="" key="data.household.3a_roomthermostatcomment" style="width:300px" /></p>
        </td></tr>
</table>

<table class="table">
    <tr>
        <th>Controller</th>
        <th>Used</th>
        <th>Comment</th>
    </tr>
    <tr>
        <td>Thermostatic Radiator Valves (TRVs)</td>
        <td><input key="data.household.3a_TRVs" type="checkbox" /></td>
        <td><input key="data.household.3a_TRVs_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Programmer</td>
        <td><input key="data.household.3a_programmer" type="checkbox" /></td>
        <td><input key="data.household.3a_programmer_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Timer</td>
        <td><input key="data.household.3a_timer" type="checkbox" /></td>
        <td><input key="data.household.3a_timer_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Cylinder thermostat</td>
        <td><input key="data.household.3a_cylinderthermostat" type="checkbox" /></td>
        <td><input key="data.household.3a_cylinderthermostat_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Zone control</td>
        <td><input key="data.household.3a_zonecontrol" type="checkbox" /></td>
        <td><input key="data.household.3a_zonecontrol_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Boiler energy manager</td>
        <td><input key="data.household.3a_boilerenergymanager" type="checkbox" /></td>
        <td><input key="data.household.3a_boilerenergymanager_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Intelligent thermostats (e.g. NEST)</td>
        <td><input key="data.household.3a_intelligentthermostats" type="checkbox" /></td>
        <td><input key="data.household.3a_intelligentthermostats_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Remote control (e.g. HIVE)</td>
        <td><input key="data.household.3a_remotecontrol" type="checkbox" /></td>
        <td><input key="data.household.3a_remotecontrol_comment" type="text" /></td>
    </tr>
</table>

<p>Heating hours: week day</p>
<table class="table">
    <tr>
        <td width="500px">Period 1</td>
        <td width="250px">On at <input class="hours-off" key="data.household.3a_heatinghours_weekday_on1_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekday_on1_mins" type="number" min="0" max="59" style="width:45px"/> min </td>
        <td>Off at <input class="hours-off" key="data.household.3a_heatinghours_weekday_off1_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekday_off1_mins" type="number" min="0" max="59" style="width:45px"/> min</td>
    </tr>
    <tr>
        <td>Period 2</td>
        <td>On at <input class="hours-off" key="data.household.3a_heatinghours_weekday_on2_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekday_on2_mins" type="number" min="0" max="59" style="width:45px"/> min </td>
        <td>Off at <input class="hours-off" key="data.household.3a_heatinghours_weekday_off2_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekday_off2_mins" type="number" min="0" max="59" style="width:45px"/> min</td>
    </tr>
    <tr>
        <td>Period 3</td>
        <td>On at <input class="hours-off" key="data.household.3a_heatinghours_weekday_on3_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekday_on3_mins" type="number" min="0" max="59" style="width:45px"/> min </td>
        <td>Off at <input class="hours-off" key="data.household.3a_heatinghours_weekday_off3_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekday_off3_mins" type="number" min="0" max="59" style="width:45px"/> min</td>
    </tr>
</table>
<p id="periods_heating_off_weekday" style="display:none; margin-bottom:25px;margin-left:8px"></p>

<p>Heating hours: weekend day</p>
<table class="table">
    <tr>
        <td width="500px">Period 1</td>
        <td width="250px">On at <input class="hours-off" key="data.household.3a_heatinghours_weekend_on1_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekend_on1_mins" type="number" min="0" max="59" style="width:45px"/> min </td>
        <td>Off at <input class="hours-off" key="data.household.3a_heatinghours_weekend_off1_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekend_off1_mins" type="number" min="0" max="59" style="width:45px"/> min</td>
    </tr>
    <tr>
        <td>Period 2</td>
        <td>On at <input class="hours-off" key="data.household.3a_heatinghours_weekend_on2_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekend_on2_mins" type="number" min="0" max="59" style="width:45px"/> min </td>
        <td>Off at <input class="hours-off" key="data.household.3a_heatinghours_weekend_off2_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekend_off2_mins" type="number" min="0" max="59" style="width:45px"/> min</td>
    </tr>
    <tr>
        <td>Period 3</td>
        <td>On at <input class="hours-off" key="data.household.3a_heatinghours_weekend_on3_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekend_on3_mins" type="number" min="0" max="59" style="width:45px"/> min </td>
        <td>Off at <input class="hours-off" key="data.household.3a_heatinghours_weekend_off3_hours" type="number" min="0" max="23" style="width:45px"/> h <input key="data.household.3a_heatinghours_weekend_off3_mins" type="number" min="0" max="59" style="width:45px"/> min</td>
    </tr>
</table>
<p id="periods_heating_off_weekend" style="display:none; margin-bottom:25px;margin-left:8px"></p>

<p>Rooms</p>
<table class="table">
    <tr>
        <td width="44%">Number of habitable rooms not heated</td>
        <td><input key="data.household.3a_habitable_rooms_not_heated" type="number" style="width:100px" min="0" /></td>
    </tr>
</table>

<br>
<p><b>3b Hot water</b></p>


<p><b>Shower</b></p>

<table class="table">
    <tr><td>Shower type:</td><td>
            <select key="data.household.3b_showertype">
                <option value="Unknown">Unknown</option>
                <option value="Mixer direct">Mixer (direct)</option>
                <option value="Electric">Electric</option>
                <option value="Pumpedpower direct">Pumped/power (direct)</option>
                <option value="Pumpedpower electric">Pumped/power (electric)</option>
            </select></td></tr>

    <tr><td>If electric, shower rating (kW):</td><td>
            <input type="number" value="" key="data.household.3b_showerrating"  /></td></tr>

    <tr><td>Frequency of use per day:</td><td>
            <input type="number" value="" key="data.household.3b_shower_frequency"  /></td></tr>

    <tr><td>Flow rate if known (litres/min):</td><td>
            <input type="number" value="" key="data.household.3b_shower_flowrate"  /></td></tr>


    <tr><td>Bath, frequency of use (per day):</td><td>
            <input type="number" value="" key="data.household.3b_bath_frequency"  /></td></tr>
</table>

<div id='more-showers'><p><b>Extra showers</b></p></div>
<p style='margin:0 15px 35px; vertical-align: middle'><button id='add-shower'>Add shower</button></p>

<p><b>Taps:</b></p>
<table class="table">
    <tr><td></td><td>Number</td><td>Type</td></tr>
    <tr>
        <td>Kitchen</td>
        <td><input type="number" value="" key="data.household.3b_kitchen_taps_num" style="width:100px" /></td>
        <td><select key="data.household.3b_kitchen_taps_type">
                <option>No energy saving feature</option>
                <option>Low flow/spray</option>
                <option>Retrofitted flow restrictor</option>
            </select></td>
    </tr>
    <tr>
        <td>Utility room</td>
        <td><input type="number" value="" key="data.household.3b_utility_room_taps_num" style="width:100px" /></td>
        <td><select key="data.household.3b_utility_room_taps_type">
                <option>No energy saving feature</option>
                <option>Low flow/spray</option>
                <option>Retrofitted flow restrictor</option>
            </select></td>
    </tr>
    <tr>
        <td>Bathroom 1</td>
        <td><input type="number" value="" key="data.household.3b_bathroom_1_taps_num" style="width:100px" /></td>
        <td><select key="data.household.3b_bathroom_1_taps_type">
                <option>No energy saving feature</option>
                <option>Low flow/spray</option>
                <option>Retrofitted flow restrictor</option>
            </select></td>
    </tr>
    <tr>
        <td>Bathroom 2</td>
        <td><input type="number" value="" key="data.household.3b_bathroom_2_taps_num" style="width:100px" /></td>
        <td><select key="data.household.3b_bathroom_2_taps_type">
                <option>No energy saving feature</option>
                <option>Low flow/spray</option>
                <option>Retrofitted flow restrictor</option>
            </select></td>
    </tr>
</table>

<p><b>3c Ventilation</b></p>

<table class="table">
    <tr>
        <td>Trickle vents</td>
        <td><input key="data.household.3c_trickle_vents" type="checkbox" /></td>
        <td><input key="data.household.3c_trickle_vents_comment" type="text" /></td>
    </tr>
    <tr>
        <td>Intake vents</td>
        <td><input key="data.household.3c_intake_vents" type="checkbox" /></td>
        <td><input key="data.household.3c_intake_vents_comment" type="text" /></td>
    </tr> 
    <tr>
        <td>Extract vents</td>
        <td><input key="data.household.3c_extract_vents" type="checkbox" /></td>
        <td><input key="data.household.3c_extract_vents_comment" type="text" /></td>
    </tr>
</table>

<p>Are air bricks clear from obstructions?<br>
    <input type="text" value="" key="data.household.3c_airbricks_comment" style="width:300px" /></p>

<p><b>Temperature and Humidity spot readings:</b></p>

<table class="table">
    <tr>
        <td></td>
        <td>Temperature</td>
        <td>Humidity</td>
    </tr>
    <tr>
        <td>Reading 1</td>
        <td><input key="data.household.reading_temp1" type="text" /></td>
        <td><input key="data.household.reading_humidity1" type="text" /></td>
    </tr>
    <tr>
        <td>Reading 2</td>
        <td><input key="data.household.reading_temp2" type="text" /></td>
        <td><input key="data.household.reading_humidity2" type="text" /></td>
    </tr> 
</table>


<hr>
<h3>4 Appliances, cooking and laundry</h3>
<hr>
<br>
<p><b>4a Kitchen appliances and cooking (section removed, use <i>Extended input</i>)</b></p>

<!--<table class="table">
    <tr><th></th><th>Number</th><th>A+?</th></tr>
    <tr><th>Dishwasher</th><td></td><td></td></tr>
    <tr>
        <td>Cold feed</td>
        <td><input type="text" key="data.household.4a_dishwasher_coldfeed_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4a_dishwasher_coldfeed_Aplus"/></td>
    </tr>
    <tr>
        <td>Hot feed</td>
        <td><input type="text" key="data.household.4a_dishwasher_hotfeed_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4a_dishwasher_hotfeed_Aplus"/></td>
    </tr>
    <tr><th>Cold food storage</th><td></td><td></td></tr>
    <tr>
        <td>Fridge/freezer</td>
        <td><input type="text" key="data.household.4a_fridgefreezer_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4a_fridgefreezer_Aplus"/></td>
    </tr>
    <tr>
        <td>Fridge</td>
        <td><input type="text" key="data.household.4a_fridge_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4a_fridge_Aplus"/></td>
    </tr>
    <tr>
        <td>Freezer - upright</td>
        <td><input type="text" key="data.household.4a_freezer_upright_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4a_freezer_upright_Aplus"/></td>
    </tr>
    <tr>
        <td>Freezer - chest</td>
        <td><input type="text" key="data.household.4a_freezer_chest_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4a_freezer_chest_Aplus"/></td>
    </tr>
    <tr>
        <td>Larder/pantry</td>
        <td><input type="text" key="data.household.4a_larder/pantry_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr><th>Cooking</th><td></td><td></td></tr>
    <tr>
        <td>Gas hob, gas oven</td>
        <td><input type="text" key="data.household.4a_gashobgasoven_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Gas hob, electric oven</td>
        <td><input type="text" key="data.household.4a_gashobelecoven_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Electric hob (standard), electric oven</td>
        <td><input type="text" key="data.household.4a_elechobelecoven_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Electric hob (induction), electric oven</td>
        <td><input type="text" key="data.household.4a_elechobinductionelecoven_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Electric range/aga (hot all year)</td>
        <td><input type="text" key="data.household.4a_electricrange_allyear_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Electric range/aga (hot in winter)</td>
        <td><input type="text" key="data.household.4a_electricrange_winter_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Gas/oil range/aga (hot all year)</td>
        <td><input type="text" key="data.household.4a_gasoilrange_winter_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Gas/oil range/aga (hot in winter)</td>
        <td><input type="text" key="data.household.4a_gasoilrange_allyear_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Microwave</td>
        <td><input type="text" key="data.household.4a_microwave_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Slow cooker<td>
        <td><input type="text" key="data.household.4a_slowcooker_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr><th>Cooking</th><td></td><td></td></tr>
    <tr>
        <td>Electric</td>
        <td><input type="text" key="data.household.4a_kettle_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Gas on hob</td>
        <td><input type="text" key="data.household.4a_kettle_gas_hob_num" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Electric on hob</td>
        <td><input type="text" key="data.household.4a_kettle_electric_hob_num" style="width:100px" /></td>
        <td></td>
    </tr>
</table>
-->

<p><b>4b Laundry</b></p>

<table class="table">
    <tr><th></th><th>Number</th><th>A+?</th></tr>
    <!--<tr><th>Clothes washing</th><td></td><td></td></tr>

    <tr>
        <td>Cold feed</td>
        <td><input type="text" key="data.household.4b_washingmachine_cold_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4b_washingmachine_cold_Aplus"/></td>
    </tr>
    <tr>
        <td>Hot feed</td>
        <td><input type="text" key="data.household.4b_washingmachine_hot_num" style="width:100px" /></td>
        <td><input type="checkbox" key="data.household.4b_washingmachine_hot_Aplus"/></td>
    </tr>
    -->

    <tr><th>Clothes drying (Note fraction used)</th><td></td><td></td></tr>
    <tr>
        <td>Outdoor clothes line</td>
        <td><input type="text" key="data.household.4b_drying_outdoorline" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Indoor clothes racks</td>
        <td><input type="text" key="data.household.4b_drying_indoorrack" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Airing cupboard</td>
        <td><input type="text" key="data.household.4b_drying_airingcupboard" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Tumble dryer</td>
        <td><input type="text" key="data.household.4b_drying_tumbledryer" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Washer/dryer</td>
        <td><input type="text" key="data.household.4b_drying_washerdryer" style="width:100px" /></td>
        <td></td>
    </tr>    
    <tr>
        <td>Radiators</td>
        <td><input type="text" key="data.household.4b_drying_radiators" style="width:100px" /></td>
        <td></td>
    </tr>
    <tr>
        <td>Electric drying maiden</td>
        <td><input type="text" key="data.household.4b_drying_electricmaiden" style="width:100px" /></td>
        <td></td>
    </tr>
    <!--
        <tr><th>TV</th><td></td><td></td></tr>
        <tr>
            <td>LED / LCD</td>
            <td><input type="text" key="data.household.4b_tvledlcd_num" style="width:100px" /></td>
            <td></td>
        </tr>
        <tr>
            <td>CRT</td>
            <td><input type="text" key="data.household.4b_crt_num" style="width:100px" /></td>
            <td></td>
        </tr>
        <tr>
            <td>Plasma</td>
            <td><input type="text" key="data.household.4b_plasma_num" style="width:100px" /></td>
            <td></td>
        </tr>
        <tr><th>Computers</th><td></td><td></td></tr>
        <tr>
            <td>Desktop</td>
            <td><input type="text" key="data.household.4b_desktops_num" style="width:100px" /></td>
            <td></td>
        </tr>
        <tr>
            <td>Laptop</td>
            <td><input type="text" key="data.household.4b_laptops_num" style="width:100px" /></td>
            <td></td>
        </tr>-->
</table>

<!--
<p>Computer peripherals<br>
    <input type="text" value="" key="data.household.4b_computer_peripherals" style="width:300px" /></p>

<p>Other (e.g. fish/reptile tanks, games consoles)<br>
    <input type="text" value="" key="data.household.4b_appliances_other" style="width:300px" /></p>

<p>Health/medical equipment (note if any require continuous power supply)<br>
    <input type="text" value="" key="data.household.4b_appliances_health" style="width:300px" /></p>
-->

<hr>
<h3>5 Property condition</h3>
<hr>
<br>
<p><b>5a Structural problems</b></p>

<table class="table">
    <tr>
        <th></th>
        <th>Location</th>
        <th>Severity</th>
        <th>How was it resolved?</th>
    </tr>
    <tr>
        <td>Past structural problems</td>
        <td><input type="text" value="" key="data.household.5a_past_location" style="width:150px"/></td>
        <td><input type="text" value="" key="data.household.5a_past_severity" style="width:150px" /></td>
        <td><input type="text" value="" key="data.household.5a_past_howresolved" style="width:150px" /></td>
    </tr>
    <tr>
        <td>Current structural problems</td>
        <td><input type="text" value="" key="data.household.5a_current_location" style="width:150px" /></td>
        <td><input type="text" value="" key="data.household.5a_current_severity" style="width:150px" /></td>
        <td><input type="text" value="" key="data.household.5a_current_howresolved" style="width:150px" /></td>
    </tr>
</table>

<p><b>5b Have you or previous occupants made any improvements to your property?</b></p>

<table class="table">

    <tr><th></th><th>When</th></tr>
    <tr><th>Loft conversion</th><th><input type="text" value="" key="data.household.5b_loftconversion" style="width:150px" /></th></tr>
    <tr><th>Extension</th><th><input type="text" value="" key="data.household.5b_extension" style="width:150px" /></th></tr>
    <tr><th>Insulation</th><th><input type="text" value="" key="data.household.5b_insulation" style="width:150px" /></th></tr>
    <tr><th>Windows</th><th><input type="text" value="" key="data.household.5b_windows" style="width:150px" /></th></tr>
    <tr><th>Heating and hot water system</th><th><input type="text" value="" key="data.household.5b_heatinghotwater" style="width:150px" /></th></tr>
    <tr><th>Other</th><th><input type="text" value="" key="data.household.5b_other" style="width:150px" /></th></tr>
</table>

<p><b>5c Damp, condensation and mould</b></p>
<table class="table">
    <tr>
        <th></th>
        <th>Location</th>
        <th>Severity</th>
        <th>Duration</th>
    </tr>
    <tr>
        <td>Damp</td>
        <td><input type="text" value="" key="data.household.5c_damp_location" style="width:150px"/></td>
        <td><input type="text" value="" key="data.household.5c_damp_severity" style="width:150px" /></td>
        <td><input type="text" value="" key="data.household.5c_damp_duration" style="width:150px" /></td>
    </tr>
    <tr>
        <td>Condensation </td>
        <td><input type="text" value="" key="data.household.5c_condensation_location" style="width:150px"/></td>
        <td><input type="text" value="" key="data.household.5c_condensation_severity" style="width:150px" /></td>
        <td><input type="text" value="" key="data.household.5c_condensation_duration" style="width:150px" /></td>
    </tr>
    <tr>
        <td>Mould</td>
        <td><input type="text" value="" key="data.household.5c_mould_location" style="width:150px"/></td>
        <td><input type="text" value="" key="data.household.5c_mould_severity" style="width:150px" /></td>
        <td><input type="text" value="" key="data.household.5c_mould_duration" style="width:150px" /></td>
    </tr>
</table>

<hr>
<h3>6 Perceptions</h3>
<hr>
<br>
<p><b>6a Thermal comfort</b></p>

<table class="table">
    <tr><th></th><th>Winter</th><th>Summer</th><th></th></tr>

    <tr>
        <td>Temperature</td>
        <td><select key="data.household.6a_temperature_winter">
                <option>Too cold</option>
                <option>Just right</option>
                <option>Too hot</option>
            </select>
        </td>
        <td><select key="data.household.6a_temperature_summer">
                <option>Too cold</option>
                <option>Just right</option>
                <option>Too hot</option>
            </select>
        </td>
    </tr>

    <tr>
        <td>Air Quality</td>
        <td><select key="data.household.6a_airquality_winter">
                <option>Too dry</option>
                <option>Just right</option>
                <option>Too stuffy</option>
            </select></td>
        <td><select key="data.household.6a_airquality_summer">
                <option>Too dry</option>
                <option>Just right</option>
                <option>Too stuffy</option>
            </select></td>
    </tr>

    <tr>
        <td>Draughts</td>
        <td><select key="data.household.6a_draughts_winter">
                <option>Too draughty</option>
                <option>Just right</option>
                <option>Too still</option>
            </select></td>
        <td><select key="data.household.6a_draughts_summer">
                <option>Too draughty</option>
                <option>Just right</option>
                <option>Too still</option>
            </select></td>
    </tr>

</table>

<p>Any problem locations?<br>
    <input type="text" value="" key="data.household.6a_problem_locations" style="width:400px" /></p>

<p><b>6b Lighting</b></p>

<table class="table">
    <tr>
        <td>Is the amount of daylight:</td>
        <td><select key="data.household.6b_daylightamount">
                <option>Too little</option>
                <option>Just right</option>
                <option>Too much</option>
            </select></td>
    </tr>
    <tr>
        <td>Is the amount of artificial light:</td>
        <td><select key="data.household.6b_artificallightamount">
                <option>Too little</option>
                <option>Just right</option>
                <option>Too much</option>
            </select></td>
    </tr>
</table>

<p>Any problem locations?<br>
    <input type="text" value="" key="data.household.6b_problem_locations" style="width:400px" /></p>

<p><b>6c Noise</b></p>

<p>Any problems with noise from neighbours, between rooms or from outside?<br>
    <input type="text" value="" key="data.household.6c_noise_comment" style="width:400px" /></p>


<p><b>6d Loved and unloved rooms</b></p>

<p>Are any rooms in your home unloved? Why?<br>
    <input type="text" value="" key="data.household.6d_unloved_rooms" style="width:400px" /></p>

<p>Do you have a favourite room? Why?<br>
    <input type="text" value="" key="data.household.6d_favourite_room" style="width:400px" /></p>

<hr>
<h3>7 Priorities</h3>
<hr>
<br>
<p><b>7a Future plans</b></p>

<p>How long do you see yourself living here?<br><select key="data.household.7a_occupancylength"><option>Short term, move out within the next 5 years</option><option>Long term, more than 10 years</option></select>
    <input type="text" value="" key="data.household.7a_occupancylength_comment" style="width:400px" /></p>

<p>Do you envisage any changes in your lifestyle/household? (e.g. working from home, children/other family members)<br><input type="text" value="" key="data.household.7a_lifestylechange_comment" style="width:400px" /></p>

<p>Do you envisage extending your home/loft conversion?<br><input type="text" value="" key="data.household.7a_homeconversion_comment" style="width:400px" /></p>

<p><b>7b Retrofit priorities</b></p>
<p>List in priority order (top 3)</p>
<table class="table">
    <tr><td>Save carbon</td><td><input key="data.household.7b_carbon" type="text" style="width:70px" /></td></tr>
    <tr><td>Save money</td><td><input key="data.household.7b_money" type="text" style="width:70px" /></td></tr>
    <tr><td>Improve comfort</td><td><input key="data.household.7b_comfort" type="text" style="width:70px" /></td></tr>
    <tr><td>Improve indoor air quality</td><td><input key="data.household.7b_airquality" type="text" style="width:70px" /></td></tr>
    <tr><td>General modernisation</td><td><input key="data.household.7b_modernisation" type="text" style="width:70px" /></td></tr>
    <tr><td>Improve health</td><td><input key="data.household.7b_health" type="text" style="width:70px" /></td></tr>
</table>

<p><b>7c Retrofit philosophy</b></p>
<p>Do you have any strong preferences about materials and internal finishes? (understanding that in many cases your choice will involve a trade off of sorts)</p>
<table class="table">
    <tr><td>Local availability</td><td><input key="data.household.7c_local" type="text" style="width:70px" /></td></tr>
    <tr><td>Naturally derived</td><td><input key="data.household.7c_natural" type="text" style="width:70px" /></td></tr>
    <tr><td>Best performance</td><td><input key="data.household.7c_performance" type="text" style="width:70px" /></td></tr>
    <tr><td>Technologically driven/innovative/hi-tech</td><td><input key="data.household.7c_hitech" type="text" style="width:70px" /></td></tr>
    <tr><td>Health focused</td><td><input key="data.household.7c_health" type="text" style="width:70px" /></td></tr>
    <tr><td>Moisture management</td><td><input key="data.household.7c_moisture" type="text" style="width:70px" /></td></tr>
    <tr><td>Low maintenance</td><td><input key="data.household.7c_lowmaintenance" type="text" style="width:70px" /></td></tr>
</table>

<p><b>7d Aesthetics</b></p>

<p>Would you mind changing the aesthetics of your house:</p>
<p>Externally?<br><input type="text" value="" key="data.household.7d_externally" style="width:400px" /></p>
<p>Internally?<br><input type="text" value="" key="data.household.7d_internally" style="width:400px" /></p>

<p><b>7e Disruption</b></p>

<p>What would be an acceptable level of disruption?</p>
<select key="data.household.7e_disruption_level">
    <option>Minimal internal disruption</option>
    <option>Some redecoration</option>
    <option>New internal fittings and major redecoration</option>
    <option>Move out for a few days/week</option>
    <option>Move out for months</option>
</select>
<p>Comment:<br>
    <input type="text" value="" key="data.household.7e_disruption_comment" style="width:400px" /></p>

<p><b>7f Timescales</b></p>

<p>When are you likely to start retrofit work on your home?</p>
<select key="data.household.7f_timescale">
    <option>Within the next few months</option>
    <option>Within the next 3 - 12 months</option>
    <option>Within the next 2-5 years</option>
</select>
<p>Comment:<br>
    <input type="text" value="" key="data.household.7f_timescale_comment" style="width:400px" /></p>

<p><b>7g Budget</b></p>

<p>Do you have a fixed pot of money?<br><input type="text" value="" key="data.household.7g_fixedpot_comment" style="width:400px" /></p>

<p>Or do you plan to set a budget according to the works planned?<br><input type="text" value="" key="data.household.7g_worksplanned_comment" style="width:400px" /></p>

<p>Do you plan to use any grant funding?<br><input type="text" value="" key="data.household.7g_grantfunding_comment" style="width:400px" /></p>

<p><b>7h Scope of work</b></p>

<select key="data.household.7h_work">
    <option>In packages</option>
    <option>As a whole house (in one go)</option>
</select>

<p>Comment:<br><input type="text" value="" key="data.household.7h_work_comment" style="width:400px" /></p>

<p><b>7i Procurement</b></p>

<p>How confident would you be to undertake some of the work DIY?</p>
<select key="data.household.7i_DIYconfidence">
    <option>Very confident</option>
    <option>Not sure</option>
    <option>Definitely not</option>
</select>
<p>Comment:<br><input type="text" value="" key="data.household.7i_DIYconfidence_comment" style="width:400px" /></p>

<p>Are you likely to use building professionals in the design and planning of your retrofit (e.g. architect, quantity surveyor)? Or are you likely to use a contractor for this?<br><input type="text" value="" key="data.household.7i_buildingprofessionals" style="width:400px" /></p>