<style>

#libmanout {
    border: 1px solid #ccc;
}

.level-bound {
    border-right: 1px solid #ccc;
    float:left;
}

.m1 { background-color:#dbd6ce; }
.m2 { background-color:#e9e6e1; max-width:250px; }
.m3 { background-color:#efedea; }
.m4 { background-color:#f7f6f5; }

.libman-item {
    padding: 3px 8px 3px 8px;
    border-bottom: 1px solid #ccc;
    cursor:pointer;
}

.active {
    background-color:rgba(0,0,0,0.1);
}

.libman-item:hover {
    background-color:rgba(0,0,0,0.1);
}

.libval[type=text] {
    width:100%;
    border:0;
    background:none;
    padding:0;
    margin:0;
    line-height:18px;
    height:18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.libval[type=text]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



textarea {
    width:100%;
    border:0;
    background:none;
    padding:0;
    margin:0;
    height:100px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.key { width:200px; display:inline-block; font-weight:bold; }

</style>

<div id="defaults"></div>


<div id="librariesmanager" class="page">
    <hr>
    <h3>Library Manager</h3>
    <hr><br>
    
    <button class="btn" id="delete-library" style="float:right"><i class="icon-trash"></i> Delete</button>
    <button class="btn" id="manage-users-library" style="float:right; margin-right:5px"><i class="icon-user"></i> Manage users</button>
    <button class="btn" id="new-library" style="float:right; margin-right:5px"><i class="icon-plus"></i> New</button>

    
    <div class="input-append input-prepend">
      <span class="add-on">Select library</span>
      <select id="lib-list"></select>
    </div>
    
    <div id="libmanout">
    
      <div class="level-bound m1">
        <div id="libman-m1"></div>
      </div>
      
      <div class="level-bound m2">
        <div id="libman-m2"></div>
      </div>
      
      <div class="level-bound m3">    
        <div id="libman-m3"></div>
      </div>
      
      <div class="level-bound m4">    
        <div id="libman-m4"></div>
      </div>
    
    <div style="clear:both"></div>
    </div>
    
    <h4>My Changes</h4>

    <pre id="local_changes"></pre>
    
    <button id="save-lib" class="btn hide">Save</button>
    <button id="revert-changes" class="btn">Revert changes</button>
</div>


<script>

var library_helper = new libraryHelper("",$("#openbem"));
var libraries = library_helper.library_list;

var master = {};
var user_changes = {};
var l1 = false;
var l2 = false;
var l3 = false;
var l4 = false;
var master_copy = {};
var local_changes = {};
var selected_library = false;

load_library_list();
load_library();

function load_library_list()
{
    if (!selected_library) selected_library = libraries[0].id;
    
    var out = "";
    for (var z in libraries) {
        var selected = ""; if (libraries[z].id==selected_library) selected = "selected";
        out += "<option value="+libraries[z].id+" "+selected+">"+libraries[z].name+"</option>";
    }
    $("#lib-list").html(out);
}

function load_library()
{
    $.ajax({ url: path+"assessment/loadlibrary?id="+selected_library, dataType: 'json', async: false, success: function(result){
    
        if (result.inherit!=false) {
            user_changes = result;
            
            $.ajax({ url: path+"assessment/loadlibrary?id="+result.inherit, dataType: 'json', async: false, success: function(result){
                master = result;
            }});
        } else {
            master = result;
            user_changes = {};
        }
    }});
    
    // Create copy and unlink
    master_copy = JSON.parse(JSON.stringify(master));

    // Apply user changes to master copy
    master_copy = apply_changes(master_copy, user_changes);

    local_changes = json_diff(master,master_copy);
    $("#local_changes").html(JSON.stringify(local_changes,undefined,2));

    draw_library_manager();
}

// -----------------------------------------------------------------------------
// Draw a library manager
// -----------------------------------------------------------------------------
function draw_library_manager()
{
    l1 = false;
    l2 = false;
    l3 = false;
    l4 = false;
    
    // out += "<div class='libman-item' level=2><i class='icon-plus'></i> New item</div>";

    draw_level(master_copy,1);

    $("#libmanout").on("click",".libman-item",function() {
    
        $(".libman-item").removeClass("active");
        $(this).addClass("active");

        var level = 1*$(this).attr("level");
        var value = $(this).attr("value");

        if (level==1) {
            l1 = value
            draw_level(master_copy[l1],level+1);
        }

        else if (level==2) {
            l2 = value
            draw_level(master_copy[l1][l2],level+1);
        }
        
        else if (level==3) {
            l3 = value
            draw_level(master_copy[l1][l2][l3],level+1)
        }
        
        else if (level==4) {
            l4 = value
            draw_level(master_copy[l1][l2][l3][l4],level+1)
        }
        
        library_manager_resize();
    });
}

// -----------------------------------------------------------------------------
// Draw a library manager level - code reused for each level in json tree
// -----------------------------------------------------------------------------
function draw_level(data,level)
{
    if (typeof data == "object") {
        var out = "";
        for (var z in data) {
            // Draw list of openable options e.g: categories and sub categories
            if (typeof data[z] == "object") {
                var name = z;
                if (data[z].name!=undefined) name = data[z].name;
                out += "<div class='libman-item' level="+level+" value='"+z+"'>"+name.ucfirst().replace(/_/g," ")+"</div>";
                
            } else {
            // Draw key:value entry
                if (z!="inherit") {
                    out += "<div class='libman-item' level="+level+" value='"+z+"'><div class='key'>"+z.ucfirst().replace(/_/g," ")+":</div>";
                    
                    // Draw input for certain length and text area for multi line lengths
                    var val = ""+data[z];
                    if (val.length<100) {
                        out += "<input class='libval' type='text' level="+level+" value='"+val+"' />";
                    } else { 
                        out += "<textarea class='libval' level="+level+">"+val+"</textarea>"; 
                    }
                    
                    out += "</div>";
                }
            }
        }
        $("#libman-m"+level).html(out);
    }
    for (var i=level+1; i<=4; i++) $("#libman-m"+i).html("");
}

// -----------------------------------------------------------------------------
// Library manager level auto height
// -----------------------------------------------------------------------------
function library_manager_resize()
{
    var width = 0;
    var height = 0;
    for (var i=1; i<=4; i++) {
        var w = $("#libman-m"+i).width();
        width += w;
        var h = $("#libman-m"+i).height();
        if (h>height) height = h;
    }
    $(".level-bound").height(height);

    var width = $("#libmanout").width()-width-4;
    //$("#libman-m4").width(width);
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
$("#lib-list").change(function(){
    selected_library = $(this).val();
    load_library();
});

$("#libmanout").on("change",".libval",function() {
    var level = $(this).attr("level");
    var value = $(this).val();
    
    if (level==1) master_copy[l1] = value;
    if (level==2) master_copy[l1][l2] = value;
    if (level==3) master_copy[l1][l2][l3] = value;
    if (level==4) master_copy[l1][l2][l3][l4] = value;
    local_changes = json_diff(master,master_copy);
    
    $("#local_changes").html(JSON.stringify(local_changes,undefined,2));
    $("#save-lib").show();
});

$("#save-lib").click(function(){
    $.ajax({ type: 'POST', url: path+"assessment/savelibrary", data: "id="+selected_library+"&data="+JSON.stringify(local_changes), dataType: 'json', async: true, 
        success: function(result){ 
            if (result.success!=undefined && !result.success) {
                alert(result.message.ucfirst());
            } 
            console.log(result);
            $("#save-lib").hide();
        } 
    });
});

$("#revert-changes").click(function(){
    master_copy = JSON.parse(JSON.stringify(master));
    local_changes = {};
    $("#local_changes").html(JSON.stringify(local_changes,undefined,2));
    
    draw_library_manager();

    $.ajax({ type: 'POST', url: path+"assessment/savelibrary", data: "id="+selected_library+"&data="+JSON.stringify(local_changes), dataType: 'json', async: true, 
        success: function(result){ 
            if (result.success!=undefined && !result.success) {
                alert(result.message.ucfirst());
            }
            console.log(result); 
            $("#save-lib").hide();
        } 
    });
});

$("#new-library").click(function(){
    library_helper.onNewLibraryOption();
});

$("#delete-library").click(function(){
    library_helper.onDeleteLibrary(selected_library);
});

$("#manage-users-library").click(function(){
    library_helper.selected_library = selected_library;
    library_helper.display_library_users();
    $('#modal-share-library').modal('show');
});

// Events

$("#openbem").on("new-library",function() {
    libraries = library_helper.library_list;
    selected_library = libraries[libraries.length-1].id;
    load_library_list();
    load_library();
});

$("#openbem").on("delete-library",function() {
    libraries = library_helper.library_list;
    selected_library = false;
    load_library_list();
    load_library();
});

// ---------------------------------------------------------------------------------
// Apply changes
// ---------------------------------------------------------------------------------
function apply_changes(A,B) {

    var keyvalA = object_to_keyval(A)
    var keyvalB = object_to_keyval(B)
    var keyvalC = keyvalA
    
    for (var z in keyvalB) {
      
        if (keyvalA[z]!=keyvalB[z]) {
            keyvalC[z] = keyvalB[z];
        }
    }
    
    var C = keyval_to_object(keyvalC);
    return C;
}

// ----------------------------------------------------------------------------------------
// JSON diff
// ----------------------------------------------------------------------------------------
function json_diff(A,B) {

    var keyvalA = object_to_keyval(A)
    var keyvalB = object_to_keyval(B)
    var keyvalC = {}
    
    for (var z in keyvalB) {
      
        if (keyvalA[z]!=keyvalB[z]) {
            keyvalC[z] = keyvalB[z];
        }
    }

    var C = keyval_to_object(keyvalC);
    return C;
}


// ----------------------------------------------------------------------------------------
// Recursive object to keyval
// conversion to keyval assoc array e.g key='elements.wall.W1.uvalue' val=1.2
// ----------------------------------------------------------------------------------------
function object_to_keyval(r)
{
    var keyval = {};
    object_to_keyval_R(keyval,r,[])
    return keyval;
}

function object_to_keyval_R(result,r,key)
{
    if (typeof r=="object") {
        for (var x in r) {
            key.push(x);
            object_to_keyval_R(result,r[x],key)
            key.pop();
        }
    } else {
        result[key.join(".")] = r;
    }
}

function keyval_to_object(keyval) {
    var C = {};
    for (var z in keyval) {
        var tmp = z.split(".");
        var l = tmp.length;

        if (l>=2 && C[tmp[0]]==undefined) C[tmp[0]] = {};
        if (l>=3 && C[tmp[0]][tmp[1]]==undefined) C[tmp[0]][tmp[1]] = {};
        if (l>=4 && C[tmp[0]][tmp[1]][tmp[2]]==undefined) C[tmp[0]][tmp[1]][tmp[2]] = {};
        if (l>=5 && C[tmp[0]][tmp[1]][tmp[2]][tmp[3]]==undefined) C[tmp[0]][tmp[1]][tmp[2]][tmp[3]] = {};
        
        if (l==1) C[tmp[0]] = keyval[z];
        if (l==2) C[tmp[0]][tmp[1]] = keyval[z];
        if (l==3) C[tmp[0]][tmp[1]][tmp[2]] = keyval[z];
        if (l==4) C[tmp[0]][tmp[1]][tmp[2]][tmp[3]] = keyval[z];
        if (l==5) C[tmp[0]][tmp[1]][tmp[2]][tmp[3]][tmp[4]] = keyval[z];
    }
    return C;
}

// ---------------------------------------------------------------------------------
// Generate libraryDefaults json
// ---------------------------------------------------------------------------------
function generate_defaults()
{
    var defaults = {};
    for (var z in master) {
        defaults[z] = {};
        for (var x in master[z]) {
            for (var i in master[z][x]) {
                switch(typeof master[z][x][i]) {
                    case "string":
                        defaults[z][i] = "";
                        break;
                    case "number":
                        defaults[z][i] = 0.0;
                        break;
                }
            }
        }
    }
    $("#defaults").html(JSON.stringify(defaults));
}
</script>
