<style>

#libmanout {
    border: 1px solid #ccc;
}

#libman-m1-bound {
    width:250px;
    border-right: 1px solid #ccc;
    background-color:#dbd6ce;
    float:left;
}

#libman-m2-bound {
    width:200px;
    border-right: 1px solid #ccc;
    background-color:#e9e6e1;
    float:left;
}

#libman-m3-bound {
    border-right: 1px solid #ccc;
    background-color:#f7f6f5;
    float:left;
}

.libman-item {
    padding:3px;
    border-bottom: 1px solid #ccc;
    cursor:pointer;
}

.libman-item:hover {
    background-color:#dbd6ce;
}

.libval[type=text] {
    width:500px;
    border:0;
    background:none;
    padding:0;
    margin:0;
    line-height:18px;
    height:18px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.libval[type=text]:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea {
    width:500px;
    border:0;
    background:none;
    padding:0;
    margin:0;
    height:100px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.key { width:200px; display:inline-block; font-weight:bold; }

</style>

<div id="defaults"></div>


<div id="librariesmanager" class="page">
    <hr>
    <h3>Library Manager</h3>
    <hr><br>
    
    <button class="btn" id="delete-library" style="float:right"><i class="icon-trash"></i> Delete</button>
    <button class="btn" id="manage-users-library" style="float:right; margin-right:5px"><i class="icon-user"></i> Manage users</button>
    <button class="btn" id="new-library" style="float:right; margin-right:5px"><i class="icon-plus"></i> New</button>

    
    <div class="input-append input-prepend">
      <span class="add-on">Select library</span>
      <select id="lib-list"></select>
    </div>
    
    <div id="libmanout">
    
    <div id="libman-m1-bound">
    <div id="libman-m1"></div>
    </div>
    
    <div id="libman-m2-bound">
    <div id="libman-m2"></div>
    </div>
    
    <div id="libman-m3-bound">    
    <div id="libman-m3"></div>
    </div>
    
    <div style="clear:both"></div>
    </div>
    
    <h4>My Changes</h4>

    <pre id="local_changes"></pre>
    
    <button id="save-lib" class="btn hide">Save</button>
    <button id="revert-changes" class="btn">Revert changes</button>
</div>


<script>

var library_helper = new libraryHelper("",$("#openbem"));
var libraries = library_helper.library_list;

var master = {};
var user_changes = {};
var l1 = false;
var l2 = false;
var l3 = false;
var master_copy = {};
var local_changes = {};
var selected_library = false;

load_library_list();
load_library();

function load_library_list()
{
    if (!selected_library) selected_library = libraries[0].id;
    
    var out = "";
    for (var z in libraries) {
        var selected = ""; if (libraries[z].id==selected_library) selected = "selected";
        out += "<option value="+libraries[z].id+" "+selected+">"+libraries[z].name+"</option>";
    }
    $("#lib-list").html(out);
}

function load_library()
{
    $.ajax({ url: path+"assessment/loadlibrary?id="+selected_library, dataType: 'json', async: false, success: function(result){
    
        if (result.inherit!=false) {
            user_changes = result;
            
            $.ajax({ url: path+"assessment/loadlibrary?id="+result.inherit, dataType: 'json', async: false, success: function(result){
                master = result;
            }});
        } else {
            master = result;
            user_changes = {};
        }
    }});
    
    l1 = false;
    l2 = false;
    l3 = false;

    // Create copy and unlink
    master_copy = JSON.parse(JSON.stringify(master));

    // Apply user changes to master copy
    master_copy = apply_changes(master_copy, user_changes);

    local_changes = json_diff(master,master_copy);
    $("#local_changes").html(JSON.stringify(local_changes,undefined,2));

    draw_library_manager();
}

function draw_library_manager()
{
    $("#libman-m1").html("");
    $("#libman-m2").html("");
    $("#libman-m3").html("");
    
    var out = "";
    for (var z in master_copy) {
        if (["inherit"].indexOf(z)<0) {
            out += "<div class='libman-item' level=1 value='"+z+"'>"+z.ucfirst().replace(/_/g," ")+"</div>";
        }
    }
    $("#libman-m1").html(out);

    $("#libmanout").on("click",".libman-item",function() {

        var level = $(this).attr("level");
        var value = $(this).attr("value");

        if (level==1) {
        
            $("#libman-m3").html("");
        
            l1 = value
        
            var out = "";
            for (var z in master_copy[l1]) {
                var name = master_copy[l1][z].name;
                out += "<div class='libman-item' level=2 value='"+z+"'>"+name.ucfirst().replace(/_/g," ")+"</div>";
            }
            $("#libman-m2").html(out);
        }

        if (level==2) {
        
            l2 = value
            console.log(l2);
        
            var out = "";
            for (var z in master_copy[l1][l2]) {
                out += "<div class='libman-item' level=3 value='"+z+"'><div class='key'>"+z.ucfirst().replace(/_/g," ")+":</div>";
                
                
                var val = ""+master_copy[l1][l2][z];
                if (val.length<100) {
                    out += "<input class='libval' type='text' value='"+master_copy[l1][l2][z]+"' />";
                } else { 
                    out += "<textarea class='libval'>"+master_copy[l1][l2][z]+"</textarea>"; 
                }
                
                out += "</div>";
            }
            $("#libman-m3").html(out);
        }
        
        if (level==3) {
            l3 = value
        }
        
        var height = 0;
        var h1 = $("#libman-m1").height();
        var h2 = $("#libman-m2").height();
        var h3 = $("#libman-m3").height();
        if (h1>height) height = h1;
        if (h2>height) height = h2;
        if (h3>height) height = h3;
        $("#libman-m1-bound").height(height);
        $("#libman-m2-bound").height(height);
        $("#libman-m3-bound").height(height);
        
        var l3w = $("#libmanout").width()-250-200-3;
        $("#libman-m3").width(l3w);
        
    });
}

$("#lib-list").change(function(){
    selected_library = $(this).val();
    load_library();
});

$("#libmanout").on("change",".libval",function() {
    var value = $(this).val();
    //if (local_changes[l1]==undefined) local_changes[l1] = {};
    //if (local_changes[l1][l2]==undefined) local_changes[l1][l2] = {};
    master_copy[l1][l2][l3] = value;
    local_changes = json_diff(master,master_copy);
    
    $("#local_changes").html(JSON.stringify(local_changes,undefined,2));
    $("#save-lib").show();
});

$("#save-lib").click(function(){
    $.ajax({ type: 'POST', url: path+"assessment/savelibrary", data: "id="+selected_library+"&data="+JSON.stringify(local_changes), dataType: 'json', async: true, 
        success: function(result){ 
            if (result.success!=undefined && !result.success) {
                alert(result.message.ucfirst());
            } 
            console.log(result);
            $("#save-lib").hide();
        } 
    });
});

$("#revert-changes").click(function(){
    master_copy = JSON.parse(JSON.stringify(master));
    local_changes = {};
    $("#local_changes").html(JSON.stringify(local_changes,undefined,2));
    
    draw_library_manager();

    $.ajax({ type: 'POST', url: path+"assessment/savelibrary", data: "id="+selected_library+"&data="+JSON.stringify(local_changes), dataType: 'json', async: true, 
        success: function(result){ 
            if (result.success!=undefined && !result.success) {
                alert(result.message.ucfirst());
            }
            console.log(result); 
            $("#save-lib").hide();
        } 
    });
});

$("#new-library").click(function(){
    library_helper.onNewLibraryOption();
});

$("#delete-library").click(function(){
    library_helper.onDeleteLibrary(selected_library);
});

$("#manage-users-library").click(function(){
    library_helper.selected_library = selected_library;
    library_helper.display_library_users();
    $('#modal-share-library').modal('show');
});

// Events

$("#openbem").on("new-library",function() {
    libraries = library_helper.library_list;
    selected_library = libraries[libraries.length-1].id;
    load_library_list();
    load_library();
});

$("#openbem").on("delete-library",function() {
    libraries = library_helper.library_list;
    selected_library = false;
    load_library_list();
    load_library();
});

// ---------------------------------------------------------------------------------
// Apply changes
// ---------------------------------------------------------------------------------
function apply_changes(A,B) {
    var C = A;
    for (var cat in B) {
    
        if (["array","object"].indexOf(typeof B[cat])>=0) {
            for (var key in B[cat]) {
                for (var prop in B[cat][key]) {
                    C[cat][key][prop] = B[cat][key][prop];
                }
            }
        } else {
            C[cat] = B[cat];
        }
    }
    return C;
}

// ---------------------------------------------------------------------------------
// Basic property level diff - to be extended
// ---------------------------------------------------------------------------------
function json_diff(A,B) {
    var C = {};
    for (var cat in A) {
        if (["array","object"].indexOf(typeof A[cat])>=0) {
            for (var key in A[cat]) {
                for (var prop in A[cat][key]) {
                    if (A[cat][key][prop]!=B[cat][key][prop]) {
                        if (C[cat]==undefined) C[cat] = {};
                        if (C[cat][key]==undefined) C[cat][key] = {};
                        C[cat][key][prop] = B[cat][key][prop];
                    }
                }
            }
        } else {
            if (A[cat]!=B[cat]) C[cat] = B[cat];
        }
    }
    return C;
}

// ---------------------------------------------------------------------------------
// Generate libraryDefaults json
// ---------------------------------------------------------------------------------
function generate_defaults()
{
    var defaults = {};
    for (var z in master) {
        defaults[z] = {};
        for (var x in master[z]) {
            for (var i in master[z][x]) {
                switch(typeof master[z][x][i]) {
                    case "string":
                        defaults[z][i] = "";
                        break;
                    case "number":
                        defaults[z][i] = 0.0;
                        break;
                }
            }
        }
    }
    $("#defaults").html(JSON.stringify(defaults));
}
</script>
