<style>
    #library_table td{ width:30%}
</style>
<h3>Appliances PHPP calculations</h3>

<p>This module provides an alternate method of calculating energy use and gains from lighting, cooking and appliances.</p>

<table class="table">
    <tr>
        <th colspan="0" />
        <th style="text-align:left">Appliance name</th>
        <th>Number used</th>
        <th>A+ rated</th>
        <th>Norm demand</th>
        <th>Units</th>
        <th>Utilisation factor</th>
        <th>Frequency</th>
        <th>Reference quantity</th>
        <th>Electric fraction</th>
        <th>DHW fraction</th>
        <th>GAS fraction</th>
        <th>Primary energy total</th>
        <th>Primary energy / m<sup>2</sup></th>
        <th>CO<sub>2</sub> (kg)</sub></th>
        <th>CO<sub>2</sub> / m<sup>2</sup></th>       
    </tr>

    <tbody id="template" style="display:none">

        <tr>
            <td colspan="0"><input type="hidden" key="data.appliancePHPP.list.z.category" /></td>
            <td style="text-align:left">
                
                <input style="text-align:left; width:100px" type="text" key="data.appliancePHPP.list.z.name" style="width:50px" />
            </td>
            <td><input type="number" key="data.appliancePHPP.list.z.number_used" style="width:30px" /></td>
            <td><input type="checkbox" key="data.appliancePHPP.list.z.a_plus_rated" /></td>
            <td><span key="data.appliancePHPP.list.z.norm_demand"  style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.units" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.utilisation_factor" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.frequency" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.reference_quantity" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.electric_fraction" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.dhw_fraction" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.gas_fraction" style="width:40px" /> </td>
            <td><span key="data.appliancePHPP.list.z.primary_energy_total" style="width:40px" /> WH</td>
            <td><span key="data.appliancePHPP.list.z.primary_energy_m2" style="width:40px"></span> Wh</td>
            <td><span key="data.appliancePHPP.list.z.co2_total" style="width:40px"></span> kg</td>
            <td><span key="data.appliancePHPP.list.z.co2_m2" style="width:40px"></span> kg</td>
            <td><i index="z" class="delete-appliance icon-trash" style="cursor:pointer"></i></td>
        </tr>
    </tbody>

    <tbody id="appliancePHPP"></tbody>

    <tr>
        <td style="text-align:left" colspan="2">
            <button id="add-item" class="btn">Add new item</button>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>

</table>
<br>
<h4>Totals</h4>
<table class="table">
    <tr><th></th><th>Primary energy total (kWh)</th><th>Primary energy / m<sup>2</sup></th><th>CO<sub>2</sub> total (kg)</th><th>CO<sub>2</sub> total / m<sup>2</th><th></th></tr>
    <tr><td>Appliances: </td><td><span key="data.appliancePHPP.primary_energy_total.appliances" dp="2"></span></td><td><span key="data.appliancePHPP.primary_energy_m2.appliances"></span></td><td><span key="data.appliancePHPP.co2_total.appliances"></span></td><td><span key="data.appliancePHPP.co2_m2.appliances"></span></td></tr>
    <tr><td>Cooking: </td><td><span key="data.appliancePHPP.primary_energy_total.cooking"></span></td><td><span key="data.appliancePHPP.primary_energy_m2.cooking"></span></td><td><span key="data.appliancePHPP.co2_total.cooking"></span></td><td><span key="data.appliancePHPP.co2_m2.cooking"></span></td></tr>
    <tr><td>Total: </td><td><span key="data.appliancePHPP.primary_energy_total.total"></span></td><td><span key="data.appliancePHPP.primary_energy_m2.total"></span></td><td><span key="data.appliancePHPP.co2_total.total"></span></td><td><span key="data.appliancePHPP.co2_m2.total"></span></td></tr>
</table>

  


<div id="myModal_appliancePHPPlibrary" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">PHPP Library</h3>
        <p>Click on an element from the library to add:</p>
    </div>
    <div class="modal-body" style="height:500px">

        <table id="library_table" class="table">
            <tr>
                <th>Category</th>
                <th>Appliance</th>
                <th></th>
            </tr>
        </table>

    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>
