<div class="carbon-report-wrapper">
	<div class="page-wrapper">
		<section>
			<div class="doc-title-wrapper">
				<h1 class="doc-title">Carbon Co-op</h1>
				<span class="doc-sub-title">My Home Energy Planner</span>
			</div>
			<div class="grid grid-margin-bottom">
				<div class="col-2">
					<div class="client-info">
						<span class="top-border-title bolded">Name</span>
						<p>Helene Rudlin</p>
						<span class="top-border-title bolded">Address</span>
						<p>
							109 Dudley Road<br>
							Manchester
						</p>
						<span class="top-border-title bolded">Post Code</span>
						<p>M16 8BW</p>
						<span class="top-border-title bolded">Date (Survey)</span>
						<p>30 Mar 2015</p>
						<span class="top-border-title bolded">Date (Report)</span>
						<p>27 May 2015</p>
						<span class="top-border-title bolded">Local Authority Area</span>
						<p>Manchester</p>
						
					</div>
				</div>
				<div class="col-2">
					<img class="home-image" src="../Modules/assessment/img-assets/images/house.png">
				</div>
			</div>
			<div class="highlight-box pink-highlight">
				<h4 class="top-border-title title-margin-bottom ">My Home Energy Planner Overview</h4>
				<div class="bar-chart-container" id="barchart"></div>
			</div>


		</section>
		<section>
			<div class="section-title title-margin-top">
				<h2>My Information</h2>
			</div>
			<p>This report presents a Whole House Assessment of your current household energy use and related carbon dioxide emissions. It then makes suggestions for how you could reduce these. It differs from a standard ‘Green Deal’ assessment:</p>
			<ul class="right-align-item-list">
				<li>
					<p>We take a ‘whole house’ approach, rather than considering single measures in isolation. This means the different measures can combine to maximum effect.</p>
				</li>
				<li>
					<p>We use a more detailed model of energy use - the full Standard Assessment Procedure (SAP) rather than a reduced data version known as rdSAP used for EPC’s.</p>
				</li>
				<li>
					<p>We consider of all your home’s emissions, including cooking and appliance use as well as heating, lighting and hot water.</p>
				</li>
				<li>
					<p>We set an absolute target for the proposed measures, in line with the 2050 80% reduction target. Whilst you might not want to do this work all at once, and it might not be feasible to achieve this in all cases, you can see the full range of possibilities for your home.</p>
				</li>
				<li>
					<p>We provide a description of the proposed measures specific to your home, rather than generic information.</p>
				</li>
				<li>
					<p>We consider other factors that may be important to you and the health of your home - such as comfort, ventilation and indoor air- quality, and the level of disruption involved in installing measures.</p>
				</li>
				<li>
					<p>We consider the embodied environmental impact of the materials and systems we recommend, choosing lower impact materials where possible.</p>
				</li>
			</ul>
		</section>
		<section>
			<div class="section-title title-margin-top">
				<h2>My Performance Comparison</h2>
				<h3 class="section-sub-title">Energy Efficiency</h3>
			</div>
			<div class="two-col-text">
				<p>‘Primary Energy’ is the total amount of energy used by your home, from the power station to your lightbulb. It is measured in kilowatt hours per square metre per year. It includes an allowance for the efficiency of the national electricity grid and fuel transport - so the same task, such as boiling a kettle, will take different amounts of primary energy depending on the fuel used. This is because of the different efficiency of distribution and generation of different fuels.</p>
				<p>It is affected by the level of insulation in your home, the efficiency of services such as heating and lighting and the type of fuel used.</p> 
				<p>The SAP and using any utility bill data you gave us, against your ‘2050’ home as modelled in SAP and the Carbon 85 Co-op target of 120 kWh/m2.year (which it may not be 68 feasible for all homes to meet). Where possible this is 51 also broken down by use. Where renewable technologies have been proposed the primary energy they displace is shown as a negative quantity to your total (gross) energy use, and then subtracted from this total to show your 2050 home’s net energy use.</p>
				<p>The carbon dioxide emissions from your home are measured in kilograms per square metre per year. This is affected by the level of insulation, the efficiency of services such as heating and lighting, and by the type of fuel used for each of the services in your home. For example, with the current make up of the national grid, 1 kilowatt-hour of mains electricity produces more carbon dioxide than 1 kilowatt-hour of mains gas.</p> 
				<p>The graph here shows your home now and your 2050 home modelled in SAP against your current bill data (if provided), the Carbon Coop target of 17 kgCO2 per square metre per year, and the likely 2016 ‘carbon compliance’ ‘zero carbon’ target for new-build homes (which does not cover appliance use). Where possible emissions are broken down into those covered by the building regulations (regulated), and those not covered (unregulated).</p>
			</div>
			<div class="highlight-box pink-highlight">
				<h4 class="top-border-title title-margin-bottom ">Fabric Energy Efficiency: Continue</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci vitae enim autem in cum aspernatur odio necessitatibus numquam perferendis iusto officia quaerat mollitia, quas, assumenda fugit ullam ratione quo dolorem.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex asperiores vero amet, tempore alias expedita harum recusandae sed! Ea mollitia natus officiis reiciendis obcaecati illum blanditiis? Odio modi delectus quos.</p>
			</div>
			<h3 class="top-border-title title-margin-top ">Sub Title</h3>
			<div class="two-col-text">
				<p>The charts on this page are designed to help you understand how your home’s current energy use compares with UK averages and targets, and the extent to which it can be improved to meet the 2050 80% carbon reduction target - whilst at the same time reducing your fuel bills and improving comfort. We’ve modelled your home as it is now in SAP, and then modeled it again to show the effect of the measures proposed on pages 6 and 7.</p>
				<p>‘Your 2050 home’. Where provided we’ve also compared this with information from your utility bills. The SAP model makes a set of assumptions, based on averages, about climate, heating patterns, hot water and appliance use. If your energy bill data is from a particularly mild or cold year, or if your household’s habits differ from the average (see page 9), you may find the model produces a predicted energy use which is different from your actual use.</p> 
				<p>Through the way you live in your home or changes you’ve already made you may already be some way toward the 2050 target. For example, you may use your space heating a lot less than is assumed in the model, or have your thermostat at a lower setting.</p>
				<p>However, if you are significantly under-heating your home you may have noticed other problems, such as excessive condensation or poor indoor air quality, which may affect your comfort and health and which you may wish to tackle through retrofit. Alternatively you may find that you are using far more energy than predicted in the SAP model, and that a few simple steps could help you reduce this significantly.</p> 
				<p>Likewise, if you continue to be a high energy user - with lots of high demand electrical appliances such as tumbler driers or plasma TVs, then you are likely to still use more energy after retrofit than suggested by the SAP model.</p>
			</div>
			<div class="highlight-box pink-highlight">
				<h4 class="top-border-title title-margin-bottom ">Fabric Energy Chart</h4>
				<div class="bar-chart-container" id="barchart-2"></div>
			</div>
		</section>
		<section>
			<div class="section-title title-margin-top">
				<h2>My Performance Comparison</h2>
				<h3 class="section-sub-title">Energy Cost</h3>
			</div>
			<div class="highlight-box pink-highlight">
				<h4 class="top-border-title title-margin-bottom">Primary Energy Use</h4>
				<div class="bar-chart-container" id="barchart-3"></div>
			</div>
			<div class="highlight-box pink-highlight">
				<h4 class="top-border-title title-margin-bottom">Carbon Dioxide Emissions</h4>
				<p>The estimated annual cost of fuel for your home now and your 2050 home modelled in SAP is shown here.</p>
				<p>For comparison, this also shows your current annual energy usage from bill data if you provided us with this. The fuel costs for your home will be affected by the level of insulation, the efficiency of services and lighting, the type of fuel used and your fuel tariff with your supplier. For clarity and ease of comparison, the graph here uses the standard fuel costs from SAP - and so may differ slightly from your actual costs.</p>
				<p>In most retrofits, it is possible to significantly reduce the cost of heating, hot water, lighting and ventilation by improvements in building fabric and services - or at least to improve comfort, whilst not increasing costs. However, the costs of ‘unregulated’ energy uses such as cooking and appliance use are much more dependent on user behaviour - so as well as physical retrofit measures, being conscious of your energy use patterns is important to maximise your savings.</p>
				<div class="bar-chart-container" id="barchart-4"></div>
			</div>
			<h3 class="top-border-title title-margin-top">Why you might differ from the model</h3>
			<div class="two-col-text">
				<p>There are several reasons why your actual current and future energy use may differ from that in the model.</p>
				<p>The model makes assumptions about average regional climate that may not hold true in a given year. For example, there may be a mild winter, which means your heating system is used much less - or a very cloudy and cold year, which means a greater requirement for heating.</p>
				<p>In addition to this, the table below outlines how your household may differ from the assumed average for a typical similar home in ways that affect energy use:</p>
			</div>
			<table class="three-col-table">
				<thead>
					<tr>
						<th class="half-width"></th>
						<th>Typical Home (SAP)</th>
						<th>Your Home</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="half-width">Number of Occupants</th>
						<td>2.9 people 9 hours</td>
						<td>2.5 people</td>
					</tr>
					<tr>
						<th class="half-width">Average hours of heating</th>
						<td>21</td>
						<td>9 hours</td>
					</tr>
					<tr>
						<th class="half-width">Living room thermostat temperature</th>
						<td>21°C</td>
						<td>21°C</td>
					</tr>
					<tr>
						<th class="half-width">number of habitable rooms not heated</th>
						<td>0 room(s)</td>
						<td>0 room(s)</td>
					</tr>
					<tr>
						<th class="half-width">estimated current appliance energy use*</th>
						<td>3880 kWh per year</td>
						<td>2129 kWh per year</td>
					</tr>
				</tbody>
			</table>
			<span class="disclaimer">
				*the figure for your home is based on a more detailed model which includes the actual appliances present in your home. It is however still a model, so may not match actual use as it makes some assumptions about frequency of use and the performance of these appliances.
			</span>
		</section>
		<section>
			<div class="section-title title-margin-top">
				<h2>Proposed Measures</h2>
			</div>
			<p>The tables on the following pages set out our recommendations for improving your home to achieve or even surpass the 2050 target Carbon Co-op target of 120 kWh/m2.year primary energy and 17kgCO2/m2.year. We do not necessarily expect you to do all these works at once. They are intended to show a pathway for you to achieve a 2050 emissions reduction and energy use target using technologies and techniques that are available now.</p>
			<div class="grid">
				<div class="col-2">
					<h3 class="top-border-title">Benefits</h3>
					<p>We recognise that you may wish to carry out retrofit works for reasons other than simple energy and cost savings - such as comfort improvements, improved indoor air quality, or carbon emissions reductions. It’s important that in planning the work you understand and communicate your priorities to any professionals or builders you’re working with. The Carbon Co-op can help you to understand and explore these issues.</p>
					<h3 class="top-border-title">Order of work</h3>
					<p>The relative impact of each measure will vary depending on the order you do them in. So, for example, if you change your boiler before installing insulation, the absolute savings from the insulation work will be less than if you had done the insulation work first.</p>
					<h3 class="top-border-title">Budget cost accuracy</h3>
					<p>The costs given are based on generic information and provide only an approximate understanding of the budget that may be required to undertake the measures outlined in this report. Costs do not include any contingency, fees, costs for relocation (if you want to move out while works are undertaken) or costs of redecoration. Carbon Co-op would always advise that a detailed cost plan be undertaken following further specialist investigation, with quotes obtained from a range of suppliers, prior to any work being carried out in your home.</p>
				</div>
				<div class="col-2">
					<h3 class="top-border-title">Disruption</h3>
					<p>We’ve given a guide as to the level of disruption, but this is obviously subjective!</p>
					<h3 class="top-border-title">Priorities</h3>
					<p>It’s important that in planning the work you understand and communicate your priorities to any professionals or builders you’re working with. The Carbon Co-op can help you to understand and explore these issues.</p>
				</div>
			</div>

		</section>
		<section>
			<div class="section-title title-margin-top">
				<h2>Package 1</h2>
			</div>
			<p>Cras mattis consectetur purus sit amet fermentum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<div class="five-col-table-wrapper">
				<table class="five-col-table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Benefits (in order)</th>
							<th>Cost</th>
							<th>Completed By</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="highlighted-col">Overall</td>
							<td>
								<div class="text-width-limiter">
									DIY draught-proofing measures windows, skirting boards/ junctions, stair treads, ceilings letter boxes and cat flaps etc.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£300</td>
							<td>DIY/ Small Contractor</td>
						</tr>
						<tr>
							<td class="highlighted-col">Timber Floors</td>
							<td>
								<div class="text-width-limiter">
									Rake out gaps and seal exposed areas of timber ground floor or exposed floor using low-VOC sealant. Ensure gaps at skirting boards and thresholds are filled.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£585</td>
							<td>DIY/ General Contractor (Joiner)</td>
						</tr>
						<tr>
							<td class="highlighted-col">Exposed Floor</td>
							<td>
								<div class="text-width-limiter">
									Insulation to exposed floor above ground level (e.g. first floor overhang) with woodfibre batts fitted from above/ inside by lifting floorboards. An air-tightness and vapour-check layer should be created at floorboard level (warm side of insulation) with membrane or by sealing between the boards.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£86.25</td>
							<td>Small Contractor</td>
						</tr>
						<tr>
							<td class="highlighted-col">Overall</td>
							<td>
								<div class="text-width-limiter">
									DIY draught-proofing measures windows, skirting boards/ junctions, stair treads, ceilings letter boxes and cat flaps etc.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£300</td>
							<td>DIY/ Small Contractor</td>
						</tr>
						<tr>
							<td class="highlighted-col">Timber Floors</td>
							<td>
								<div class="text-width-limiter">
									Rake out gaps and seal exposed areas of timber ground floor or exposed floor using low-VOC sealant. Ensure gaps at skirting boards and thresholds are filled.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£585</td>
							<td>DIY/ General Contractor (Joiner)</td>
						</tr>
						<tr>
							<td class="highlighted-col">Exposed Floor</td>
							<td>
								<div class="text-width-limiter">
									Insulation to exposed floor above ground level (e.g. first floor overhang) with woodfibre batts fitted from above/ inside by lifting floorboards. An air-tightness and vapour-check layer should be created at floorboard level (warm side of insulation) with membrane or by sealing between the boards.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£86.25</td>
							<td>Small Contractor</td>
						</tr>
						<tr>
							<td class="highlighted-col">Overall</td>
							<td>
								<div class="text-width-limiter">
									DIY draught-proofing measures windows, skirting boards/ junctions, stair treads, ceilings letter boxes and cat flaps etc.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£300</td>
							<td>DIY/ Small Contractor</td>
						</tr>
						<tr>
							<td class="highlighted-col">Timber Floors</td>
							<td>
								<div class="text-width-limiter">
									Rake out gaps and seal exposed areas of timber ground floor or exposed floor using low-VOC sealant. Ensure gaps at skirting boards and thresholds are filled.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£585</td>
							<td>DIY/ General Contractor (Joiner)</td>
						</tr>
						<tr>
							<td class="highlighted-col">Exposed Floor</td>
							<td>
								<div class="text-width-limiter">
									Insulation to exposed floor above ground level (e.g. first floor overhang) with woodfibre batts fitted from above/ inside by lifting floorboards. An air-tightness and vapour-check layer should be created at floorboard level (warm side of insulation) with membrane or by sealing between the boards.
								</div>
								</td>
							<td>Comfort + Carbon Emissions + Fuel Bills</td>
							<td class="cost">£86.25</td>
							<td>Small Contractor</td>
						</tr>
					</tbody>
				</table>

			


				<div class="grid">
					<div class="col-2">
						<a class="view-more-button" href="#">View more detailed table <span class="right-hand-image-block"><img src="../Modules/assessment/img-assets/arrow-right.png" alt=""></span></a>
					</div>
					<div class="col-2">
						<div class="table-sub-total">
							<span class="red-highlight bolded">
								Sub-total
							</span>
							<span class="sub-total">
								£2,786
							</span>
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
	<div id="chart">
	  <svg></svg>
	</div>
	<footer>
		<div class="page-wrapper">
			<div class="sponsor-wrapper">
				<div class="footer-sponsor">
					<p>This report was prepared by:</p>
					<img src="../Modules/assessment/img-assets/images/urbed-logo.png" alt="">
				</div>
				<div class="footer-sponsor carbon-coop-logo">
					<p>On behalf of:</p>
					<img src="../Modules/assessment/img-assets/images/carbon-coop-logo.png" alt="">
				</div>
			</div>
		</div>
	</footer>
</div>

<style>
.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}
.chart rect {
	stroke: white;
	fill: steelblue;
}
</style>