<hr>
<h2>MyHomeEnergyPlanner report</h2>
<h3>Summary table</h3>
<table class="table" id="summary">
    
</table>
<div id="compare">
    <h2>Comparison tables</h2>
    <p style='margin-top:25px'>Only changes made by applying a measure are taken into account for the comparison. When an scenario is created as a copy of another one different than the Master, the changes are kept but not as measures. For example: <ul style='margin-left:35px'><li>You apply EWI to a wall as a measure in Scenario 1</li><li>You create Scenario 2 as a copy of Scenario 1</li></ul>Then that wall in Scenario 2 will still have EWI but the comparison table for scenario 2 will not show the difference with the Master scenario as the change is not considered a measure anymore.</p><br />
    
</div>
