<h3>Current Energy Use</h3>
<p>Preliminary implementation of the input page for pre-retrofit actual energy use.</p>

<p>Are you on a 100% green electricity tariff?  <input type="checkbox" key="data.currentenergy.greenenergy" /></p>
<p>Ticking the green electricity tariff button here reduces electricity co2 emissions from 0.512kgCO2/kWh to 0.02 kgCO2/kWh and the primary energy factor is also reduced from 2.4 that relates to ~58% energy loss in coal and gas electricity generation to 1.3</p>


<table class="table">
    <tr>
        <th style="width:250px"></th>
        <th >Annual use</th>
        <th>Efficiency</th>
        <th>kWh/d</th>
        <th>Annual CO2</th>
        <th>Unit cost</th>
        <th>Standing charge</th>
        <th>Annual cost</th>
    </tr>
    
    <tbody id="currentenergy_energyitems"></tbody>

</table>

<p><b>Totals</b></p>

<table class="table">
    <tr><td>Total space heating energy consumption:</td><td><span key="data.currentenergy.spaceheating_annual_kwh" dp=0></span> kWh</td></tr>
    <tr><td>Total non transport primary energy consumption:</td><td><span key="data.currentenergy.primaryenergy_annual_kwh" dp=0></span> kWh</td></tr>
    <tr><td>Total non transport co2 emissions:</td><td><span key="data.currentenergy.total_co2" dp=0></span> kg</td></tr>
    <tr><td>Total non transport energy cost:</td><td>£<span key="data.currentenergy.total_cost" dp=0></span></td></tr>
    
    <tr><td>Total space heating energy consumption per m2 floor area:</td><td><span key="data.currentenergy.spaceheating_annual_kwhm2" dp=0></span> kWh/m2</td></tr>
    <tr><td>Total non transport primary energy consumption per m2 floor area:</td><td><span key="data.currentenergy.primaryenergy_annual_kwhm2" dp=0></span> kWh/m2</td></tr>
    <tr><td>Total non transport co2 emissions per m2 floor area:</td><td><span key="data.currentenergy.total_co2m2" dp=0></span> kgCO2/m2/year</td></tr>
</table>
