
<style>
    .er td:nth-of-type(1) { width:25%;}
    .er td:nth-of-type(2) { width:15%;}
    .er td:nth-of-type(3) { width:20%;}
    .er td:nth-of-type(4) { width:20%;}
    .er td:nth-of-type(5) { width:20%;}

    .fc td:nth-of-type(1) { width:40%;}
    .fc td:nth-of-type(2) { width:20%;}
    .fc td:nth-of-type(3) { width:20%;}
    .fc td:nth-of-type(4) { width:20%;}
</style>

<div id="fuel_requirements" class="page">

    <hr>
    <h3>Fuel Requirements</h3>
    <hr>

    <table class="table">

        <tbody id="energyrequirement-template"  style="display:none">

            <tr style="background-color:#eee">
                <th><span key="data.energy_requirements.template.name"></span></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr>
                <th style="text-align:left">Supplied by:</th>
                <th>Fraction</th>
                <th>Demand: <span key="data.energy_requirements.template.quantity" dp=2></span> kWh/year</th>
                <th>Fuel input: <span key="data.fuel_requirements.template.quantity" dp=2></span> kWh/year</th>
            </tr>

        </tbody>

        <tbody id="suppliedby-template" style="display:none">
            <tr>
                <td style="text-align:left"><span key="data.fuel_requirements.template.list.x.fuel"></span></td>
                <td class="fraction template.list"><span key="data.fuel_requirements.template.list.x.fraction" dp=2 style="width:60px"/></td>
                <td><span key="data.fuel_requirements.template.list.x.demand" dp=2></span> kWh/year</td>
                <td><span key="data.fuel_requirements.template.list.x.fuel_input" dp=2></span> kWh/year</td>
            </tr>
        </tbody>

        <table class="table">
            <tbody id="energyrequirements"></tbody>
        </table>

        <div id="generation-container" style="display:none">
            <br>
            <hr>
            <h3>Generation</h3>
            <hr>
            <table class="table">
                <tbody>

                    <tr style="background-color:#eee">
                        <th>Renewable Generation</th>
                        <th><span key="data.generation.total_generation" dp=2></span> kWh/year</th>
                        <th style="text-align:right"></th>
                    </tr>

                    <tr>
                        <td style="text-align:left">Supplied by:</td>
                        <td>Quantity</td>              
                        <td>Annual kgCO<sub>2</sub></td>

                    </tr>

                </tbody>

                <tbody id="suppliedby-generation-template" style="display:none">
                    <tr>
                        <td style="text-align:left">
                            <span key="data.generation.template.x.name"></span>
                        </td>
                        <td><span key="data.generation.template.x.quantity" dp=2></span> kWh/year</td>
                        <td><span type="text" key="data.generation.template.x.CO2" dp="2" style="width:120px"/></td>

                    </tr>
                </tbody>

                <tbody id="generation"></tbody>
            </table>
        </div>

        <br>
        <hr>
        <h3>Fuel requirements & costs</h3>
        <hr>
        <table class="table">
            <tr>
                <th style="text-align:left">Fuel type</th>
                <th>Fuel quantity</th>
                <th>CO<sub>2</sub> factor <br />kgCO<sub>2</sub>/kWh</th>
                <th>Annual<br>CO<sub>2</sub></th>
                <th>Primary<br>Energy<br>Factor</th>
                <th>Primary<br>Energy</th>
                <th>Unit cost</th>
                <th>Annual<br>Standing<br>charge</th>
                <th>Annual cost</th>
            </tr>

            <tbody id="fuel_totals_template" style="display:none">
                <tr>
                    <td style="text-align:left"><span key="data.fuel_totals.z.name"></span></td>
                    <td><span key="data.fuel_totals.z.quantity" dp=2></span> kWh</td>

                    <td>x
                        <span key="data.fuels.f.co2factor" value=0 style="width:60px" />
                    </td>

                    <td><span key="data.fuel_totals.z.annualco2" dp=2></span> kg</td>

                    <td>x
                        <span key="data.fuels.f.primaryenergyfactor" value=0 style="width:60px"/>
                    </td>

                    <td><span key="data.fuel_totals.z.primaryenergy" dp=2></span> kWh</td>

                    <td><span type="text" key="data.fuels.f.fuelcost" value=0 style="width:60px"/>  p/kWh</td>
                    <td><span type="text" key="data.fuels.f.standingcharge" value=0 style="width:60px"/>  £/year</td>
                    <td><span key="data.fuel_totals.z.annualcost" dp=2></span>  £</td>
                </tr>
            </tbody>

            <tbody id="fuel_totals"></tbody>

            <tr>
                <td style="text-align:left"><b>Total energy cost:</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>£<span key="data.total_cost" dp=2></span></b> (<span key="data.SAP.rating" dp=2></span>)</td>
            </tr>

            <tr>
                <td style="text-align:left"><b>Total energy income<br>(FIT's) <i class="icon-question-sign" title="This is just an estimation, before purchasing any renewable generation system you must consult with a MCS certified installer">:</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td id="fit_income"><b>£<span key="data.total_income" dp=2></span></b></td>
            </tr>

            <tr>
                <td style="text-align:left"><b>Net cost:</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>£<span key="data.net_cost" dp=2></span></b></td>
            </tr>
        </table>    
</div>


<!--
<div id="modal-system-library" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="modal-system-library-label" aria-hidden="true" data-backdrop="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="modal-system-library-label">System Library</h3>
    </div>
    <div class="modal-body" style="height:500px">
    
        <div id="modal-system-library-table-view" style="display:none">
            System library:<br><br>
            <table id="system-library-table" class="table"></table>
        </div>
        
        <div id="modal-system-library-editnew-view" style="display:none">
            Edit or create a new system:<br><br>
            
            <p>System tag:<br><input type="text" class="edit-system-tag" /></p>
            <p>Name:<br><input type="text" class="edit-system-name" /></p>
            <p>Default efficiency:<br><input type="text" class="edit-system-efficiency" /></p>
            <p>Winter efficinecy:<br><input type="text" class="edit-system-winter" /></p>
            <p>Summer efficinecy:<br><input type="text" class="edit-system-summer" /></p>
            <p>Fuel:<br><select class="edit-system-fuel" /></p>
        </div>
        
    </div>
    <div class="modal-footer">
        <button class="btn create-system">Create new system</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-success save-system" style="display:none">Save</button>
    </div>
</div>
-->
