<h3>Generation</h3>

<p>Add sources of renewable domestic energy generation: Solar PV, Wind & Hydro</p>

<table class="table">
    <tr>
        <th></th>
        <th>Annual Generation</th>
        <th>Fraction used on-site</th>
        <th>Feed in tariff (£/kWh)</th>
    </tr>
    <tr>
        <td>Solar PV</td>
        <td><input type="text" value="0" key="data.generation.solar_annual_kwh" style="width:60px" /></td>
        <td><input type="text" value="0" key="data.generation.solar_fraction_used_onsite" style="width:60px" /></td>
        <td><input type="text" value="0" key="data.generation.solar_FIT" style="width:60px" /></td>
    </tr>
    <tr>
        <td>Wind</td>
        <td><input type="text" value="0" key="data.generation.wind_annual_kwh" style="width:60px" /></td>
        <td><input type="text" value="0" key="data.generation.wind_fraction_used_onsite" style="width:60px" /></td>
        <td><input type="text" value="0" key="data.generation.wind_FIT" style="width:60px" /></td>
    </tr>
    <tr>
        <td>Hydro</td>
        <td><input type="text" value="0" key="data.generation.hydro_annual_kwh" style="width:60px" /></td>
        <td><input type="text" value="0" key="data.generation.hydro_fraction_used_onsite" style="width:60px" /></td>
        <td><input type="text" value="0" key="data.generation.hydro_FIT" style="width:60px" /></td>
    </tr>
</table>
