<h3>Gains from Lighting, Appliances and Cooking</h3>

<table class="table">
  <tr><td>Reduced internal heat gains: </td><td><input key="data.LAC.reduced_internal_heat_gains" type="checkbox" /></td></tr>

  <tr><th><br>Lighting</th><th></th></tr>
  
  <tr><td>The number of fixed low energy lighting outlets (LLE)</td><td><input key="data.LAC.LLE" type="text" style="width:80px" /></td></tr>
  <tr><td>The total number of fixed lighting outlets (L)</td><td><input key="data.LAC.L" type="text" style="width:80px" /></td></tr>
  
  <!--
  <tr><td>Average annual energy consumption for lighting if no low-energy lighting (EB)</td><td><span key="data.LAC.EB" dp=0></span> kWh/year</td></tr>
  <tr><td>Low energy lighting correction factor (C1)</td><td><span key="data.LAC.C1" dp=2></span></td></tr>
  <tr><td>Daylighting correction factor, calculated from window element data (C2)</td><td><span key="data.LAC.C2" dp=2></span></td></tr>
  -->
  <tr><td>The initial value of the annual energy used for lighting:</td><td><span key="data.LAC.EL" dp=0></span> kWh/year</td></tr>


  <tr><th><br>Appliances</th><th></th></tr>

  <tr><td>Annual electrical appliances energy use:</td><td><span key="data.LAC.EA" dp=0></span> kWh/year</td></tr>
  
  <tr><th><br>Cooking</th><th></th></tr>
  
  <tr><td>Annual cooking energy use:</td><td><span key="data.LAC.EC" dp=0></span> kWh/year</td></tr>

</table>
