
<h3>Concept report</h3>

<p>When looking to do retrofit work on housing the targets we aim for are an important aspect to understand. Perhaps one of the most well known and most ambitious target is the passivehaus standard which really sets the benchmark for low energy buildings.</p>

<p>The passivehaus target for new build space heating demand is 15 kWh/m2 per annum and a heating load of 10W/m2 which translates to 87.6 kWh/m2 per annum. Most of the heat requirement for a passivehause is provided by a combination of solar gains, metabolic gains and gains from electrical appliances, lighting, cooking and hot water. The total primary energy demand for all demands must not exceed 120 kWh/m2 per annum.</p>

<p>Passivehaus argue that if the focus of the low energy building design is on space heating demand or fabric efficiency then with increasingly efficient electric appliances and a decarbonizing electricity supply the primary energy figure will fall of its own accord as these other external improvements take place.</p>

<p>The passivehaus target for retrofit is a little more lenient at 25 kWh/m2 per annum for space heating demand due to the considerable additional challenge of achieving the same building fabric performance in buildings where much of the building envelope is already defined.</p>

<p>Another example of a commonly used target is the target based on the UK Climate Change Act of 80% carbon reduction by 2050 vs 1990 baseline an emission rate of 17kgCO2/m2 and a primary energy use of 120 kWh/m2 per annum. Fabric efficiencies of close to passivhaus are required to achieve this using current electricity primary energy factors and co2.</p>

<p>
Professor Kevin Anderson of the Tyndall Centre for Climate Change Research in Manchester outlines clearly in his talks on the reality of the action required that we need to achieve 40% reductions by 2018, 70% reduction by 2024, 90% reduction by 2030, 100% reduction by 2035 not 80% by 2050 if we are to keep warming to within 2C. It is cumulative emissions that matter. Retrofit work carried out now will be expected to last 20+ years, so we should be keeping the 100% carbon reduction target by 2035 in mind.</p>

<p>Your scenario:</p>

<canvas id="myhome01" width="340" height="500" style="margin-right:20px;"></canvas>
<canvas id="myhome02" width="340" height="500" style="margin-right:20px;"></canvas>
<canvas id="myhome03" width="340" height="500" style="margin-right:20px;"></canvas>

<p><b>Per person and per household targets</b></p>

<p>While floor area based targets are useful in terms of characterising the fabric energy performance of a building they do miss other aspects that are important if we are to achieve wider goals of decarbonizing our energy system. Large houses with low occupancy can achieve the same targets as small houses with more people. But their resultant energy per household and per person can be much higher.</p>

<canvas id="myhome04" width="340" height="500" style="margin-right:20px;"></canvas>
<canvas id="myhome05" width="340" height="500" style="margin-right:20px;"></canvas>
