<div class="page" style="font-size:18px; line-height:28px; color:#444">
    
    <img src="http://localhost/bem/Modules/openbem/images/stacks2012_01.png" style="float:right; padding-left:10px; padding-bottom:10px;" />
    <h3>Getting to Zero Carbon</h3>
    
    
    <p>Achieving zero carbon is a two step process, first power down: reduction in energy demand through efficiency, and second powering up the remaining energy demand with sustainable energy.</p>
    
    <p>If we look at how energy is used in the UK we find: Space heating accounts for 20% of total primary energy or 29% of end use energy. Building services (space heating, water heating, lighting & appliances and cooking) make up 30% of total primary energy or 44% of end use energy.</p><p>Low energy building technology: highly insulated, air-tight buildings can deliver space heating energy savings of up to 50-90% while simultaneously increasing our comfort.</p><p>- 2012 Data see <a href="http://openenergymonitor.org/emon/sustainable-energy">OpenEnergyMonitor: Sustainable Energy</a></p>
    
    <p><p>OpenBEM is an open source energy assessment tool to help you explore how you can achieve this level of performance improvement in your own home.</p>
    
    <p>The model used is based on the 2012 version of SAP (Standard Assessment Procedure for UK EPC's (Energy Performance Certificate's)) developed by the Building Research Establishment for which the full specification can be downloaded from BRE here: <a href="http://www.bre.co.uk/filelibrary/SAP/2012/SAP-2012_9-92.pdf">SAP-2012_9-92.pdf</a></p>
    
    <h3>Open Source</h3>
    
    <p>In addition to being open access, the source code for OpenBEM is also open source and available on github. You can download and install OpenBEM on your own server, you can look at and peer-review the model calculations, understand how it works, modify and improve it. </p><a href="https://github.com/emoncms/openbem.git"><b>Github:</b> OpenBEM Source Code</a>
    
</div>
