
<style>
.er td:nth-of-type(1) { width:25%;}
.er td:nth-of-type(2) { width:15%;}
.er td:nth-of-type(3) { width:20%;}
.er td:nth-of-type(4) { width:20%;}
.er td:nth-of-type(5) { width:20%;}

.fc td:nth-of-type(1) { width:40%;}
.fc td:nth-of-type(2) { width:20%;}
.fc td:nth-of-type(3) { width:20%;}
.fc td:nth-of-type(4) { width:20%;}
</style>

<div class="page">

    <hr>
    <h3>Mean Internal Temperature</h3>
    <hr>

    <table class="table">
    <tr>
        <td>
            <h4>Heating system</h4>
            <div class="input-prepend input-append">
                <span class="add-on">Responsiveness:</span>
                <input key="data.temperature.responsiveness" type="text" style="width:40px" />
                <span class="add-on">Control type:</span>
                <select key="data.temperature.control_type" style="width:80px">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            
        </td><td>

            <h4>Living area and target temperature</h4>
            <div class="input-prepend input-append">
                <span class="add-on">Living area:</span>
                <input key="data.temperature.living_area" type="text" style="width:40px" />
                <span class="add-on">m2</span>

                <span class="add-on">Target temperature:</span>
                <input key="data.temperature.target" type="text" style="width:40px" />
                <span class="add-on">C</span>
            </div>
            
        </td>
    </tr>
    </table>

    <hr>
    <h3>Energy Requirements</h3>
    <hr>
        
    <table class="table">
    
        <tbody id="energyrequirement-template"  style="display:none">
        
            <tr style="background-color:#eee">
                <th><span key="data.energy_requirements.template.name"></span></th>
                <th></th>
                <th><span key="data.energy_requirements.template.quantity" dp=0></span> kWh/year</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        
            <tr>
                <td style="text-align:left">Supplied by:</td>
                <td>Description</td>
                <td>Fraction</td>
                <td>Demand</td>
                <td>Efficiency</td>
                <td>Fuel input </td>
                
                <td><i class="icon-plus add-system" style="cursor:pointer" eid="template"><button class="btn" style="padding-top:2px; padding-bottom:2px">Add</button></i></td>
            </tr>
            
        </tbody>
        
        <tbody id="suppliedby-template" style="display:none">
            <tr>
                <td style="text-align:left">
                    <select class="heating_system_selector" z=tmp x=tmp key="data.energy_systems.template.x.system"></select>
                </td>
                <td><input type="text" key="data.energy_systems.template.x.description" style="width:120px"/></td>
                <td><input type="text" key="data.energy_systems.template.x.fraction" dp=2 style="width:60px"/></td>
                <td><span key="data.energy_systems.template.x.demand" dp=0></span> kWh/year</td>
                <td><input type="text" key="data.energy_systems.template.x.efficiency" dp=3 style="width:60px"></td>
                <td><span key="data.energy_systems.template.x.fuelinput" dp=0></span> kWh/year</td>
                <td><span class="delete-system" eid="eid" sid="sid" style="cursor:pointer"><a>Delete</a></span></td>
            </tr>
        </tbody>
        
        <tbody id="energyrequirements"></tbody>
    </table>
    
    <br>
    <hr>
    <h3>Fuel requirements & costs</h3>
    <hr>
    <table class="table">
        <tr>
            <th style="text-align:left">Fuel type</th>
            <th>Fuel quantity</th>
            <th>kgCO2/kWh</th>
            <th>Annual<br>kgCO2</th>
            <th>Primary<br>Energy<br>Factor</th>
            <th>Primary<br>Energy</th>
            <th>Unit cost</th>
            <th>Daily<br>Standing<br>charge</th>
            <th>Annual cost</th>
        </tr>
        
        <tbody id="fuel_totals_template" style="display:none">
            <tr>
                <td style="text-align:left"><span key="data.fuel_totals.z.name"></span></td>
                <td><span key="data.fuel_totals.z.quantity" dp=0></span> kWh</td>
                
                <td>x<input type="text" key="data.fuels.f.co2factor" value=0 style="width:60px"/></td>
                <td><span key="data.fuel_totals.z.annualco2" dp=0></span> kg</td>
                                
                <td>x<input type="text" key="data.fuels.f.primaryenergyfactor" value=0 style="width:60px"/></td>
                <td><span key="data.fuel_totals.z.primaryenergy" dp=0></span> kWh</td>
                
                <td>£ <input type="text" key="data.fuels.f.fuelcost" value=0 style="width:60px"/></td>
                <td>£ <input type="text" key="data.fuels.f.standingcharge" value=0 style="width:60px"/></td>
                <td>£<span key="data.fuel_totals.z.annualcost" dp=0></span></td>
            </tr>
        </tbody>
        
        <tbody id="fuel_totals"></tbody>
        
        <tr>
            <td style="text-align:left"><b>Total energy cost:</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>£<span key="data.total_cost" dp=0></span></b> (<span key="data.SAP.rating" dp=0></span>)</td>
        </tr>
        
        <tr>
            <td style="text-align:left"><b>Total energy income<br>(FIT's):</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>£<span key="data.total_income" dp=0></span></b></td>
        </tr>
        
        <tr>
            <td style="text-align:left"><b>Net cost:</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>£<span key="data.net_cost" dp=0></span></b></td>
        </tr>
    </table>    
</div>
