
<div class="page">

    <hr>
    <h3>Ventilation & Infiltration</h3>
    <hr>
    <br>
    <div class="input-prepend">
        <span class="add-on">Select ventilation type:</span>
        <select class="disabled-if-not-master" key="data.ventilation.ventilation_type" style="width:560px">
            <option value='NV'>Natural ventilation only (NV)</option>
            <option value='IE'>Intermittent extract ventilation (IE)</option>
            <option value='DEV'>Continuous decentralised mechanical extract ventilation (DEV)</option>
            <option value='MEV'>Continuous whole house extract ventilation (MEV)</option>
            <option value='MV'>Balanced mechanical ventilation without heat recovery (MV)</option>
            <option value='MVHR'>Balanced mechanical ventilation with heat recovery (MVHR)</option>
            <option value='PS'>Whole House Passive Stack Ventilation System (PS)</option>
        </select>
        <button class="apply-ventilation-measure-from-lib if-not-master" type="ventilation_systems_measures" style="margin:0 0 10px 25px">Apply Measure</button>
    </div>

    <div id="system_air_change_rate_div" style="margin-left:50px">
        <p>Air change rate through the system (If exhaust air heat pump see Appendix N): <input key="data.ventilation.system_air_change_rate" type="text" style="width:50px" /></p>
    </div>

    <div id="balanced_heat_recovery_efficiency_div" style="margin-left:50px">
        <p>Heat recovery efficiency allowing for in-use factor: <input key="data.ventilation.balanced_heat_recovery_efficiency" type="text" style="width:50px" /> %</p>
    </div>

    <div id="fans_and_vents_div" style="margin-left:50px">
        <!-- <p><b>Extract ventilation points</b></p>
         <table style="margin-left:50px">
             <tr>
                 <td width="150px">Intermittent fans</td>
                 <td><input key="data.ventilation.number_of_intermittentfans" type="number" min='0' style="width:50px"/>
                     <button class="apply-ventilation-measure-from-lib if-not-master" type="extract_ventilation_points_measures" style="margin:0 0 10px 15px">Apply Measure</button></td>
             </tr>
             <tr>
                 <td>Passive vents</td>
                 <td><input key="data.ventilation.number_of_passivevents" type="number" min='0' style="width:50px"/></td>
             </tr>
         </table>
        -->

        <table  style="margin-left:50px" class='table'>
            <tr><td colspan="5"><b>Extract ventilation points: intermittent fans and passive vents</b>
                    <span class="add-EVP-from-lib if-master" style="cursor:pointer"><button class="btn" style="margin-left: 20px"><i class="icon-plus"></i> Add</button></span>
                    <span class="apply-ventilation-measure-from-lib if-not-master" type="add_extract_ventilation_points" style="cursor:pointer"><button class="btn" style="margin-left: 20px"><i class="icon-plus"></i> Apply measure</button></span>
                </td>
            </tr>
            <tr><th width="150px"></th><th width="220px">Location</th><th width="100px">Type</th><th>Ventilation rate (m<sup>3</sup>/h)</th><th></th></tr>
            <tbody id="EVP">        </tbody>
        </table>
    </div>

    <table class="table">
        <tr>
            <th style="text-align:left" width="20%"><h4>Structural infiltration</h4></th>
        <th style='padding:0 0 20px 0; vertical-align: bottom' width="15%"><span key="data.ventilation.infiltration_rate_incorp_shelter_factor" dp="2"></span> m<sup>3</sup>/h</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <tr><td style="text-align:left">Number of sides sheltered</td>
            <td colspan="5"><input key="data.ventilation.number_of_sides_sheltered" type="text" style="width:50px"/></td>
        </tr>
        <tr>
            <td style="text-align:left">Calculate infiltration rate based on air tightness test:</td>
            <td colspan="5"><input key="data.ventilation.air_permeability_test" type="checkbox" /></td>
        </tr>
        <tbody id="air_permeability_value_tbody">
            <tr>
                <td style="text-align:left">Air permeability value, q50, expressed in cubic metres per hour per square metre of envelope area:</td>
                <td colspan="5"><input key="data.ventilation.air_permeability_value" type="text" style="width:60px"/>
                    <button class="apply-ventilation-measure-from-lib if-not-master" type="draught_proofing_measures" style="margin:0 0 10px 25px">Apply Measure</button>
                </td>
            </tr>
        </tbody>
        <tbody id="structural">
            <tr>
                <td style="text-align:right;padding-left:55px">Walls</td>
                <td style="text-align:right">
                    <select key="data.ventilation.dwelling_construction" style="width:180px">
                        <option value='timberframe'>Timber Frame (+0.2)</option>
                        <option value='masonry'>Masonry (+0.35)</option>
                    </select>
                </td>
                <td style="text-align:right">Percentage of windows and<br>doors draught proofed</td>
                <td style="text-align:left">
                    <div class="input-append">
                        <input key="data.ventilation.percentage_draught_proofed" type="text" style="width:50px">
                        <span class="add-on">%</span>
                    </div>
                </td>  
                <td style="text-align:right">Number of storeys</td>
                <td><span key="data.num_of_floors"></span></td>
            </tr>
            <tr>
                <td style="text-align:right">Floor</td>
                <td style="text-align:left">
                    <select key="data.ventilation.suspended_wooden_floor" style="width:180px">
                        <option value="unsealed" >Suspended unsealed wooden floor (+0.2)</option>
                        <option value="sealed">Suspended sealed wooden floor (+0.1)</option>
                        <option value="0">Solid floor (+0)</option>
                    </select>
                </td>
                <td style="text-align:right">Draught Lobby</td>
                <td style="text-align:left"><input key="data.ventilation.draught_lobby" type="checkbox" /></td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>

    <table class='table'>
        <tr><td colspan="5"><h4 style='display:inline'>Chimneys, open flues and flueless gas fires</h4><span class="add-IVF-from-lib" style="cursor:pointer"><button class="btn" style="margin-left: 20px"><i class="icon-plus"></i> Add</button></span></td></tr>
        <tr><th width="150px"></th><th width="220px">Location</th><th width="100px">Type</th><th>Ventilation rate (m<sup>3</sup>/h)</th><th></th></tr>
        <tbody id="IVF">        </tbody>
    </table>

    <br>

    <div id="apply-measure-ventilation-modal" style="position: absolute" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Apply measure</h3>
            <p id="myModalIntroText">Choose below</p>
        </div>
        <div style="padding: 15px" id="apply-measure-ventilation-what-to-do">
            <p style="margin-left: 25px;"><input type="radio" name="apply-measure-ventilation-what-to-do" value="remove" /> Remove</p>
            <p style="margin-left: 25px;"><input type="radio" name="apply-measure-ventilation-what-to-do" value="replace" /> Replace</p>
        </div>
        <div style="padding: 15px" id='apply-measure-ventilation-library-item-selects'>
            <select id="apply-measure-ventilation-library-select"></select>
            <select id="apply-measure-ventilation-items-select"></select>            
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
            <p id="apply-measure-ventilation-message" style="font-weight: bold"></p>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="apply-measure-ventilation-ok" class="btn btn-primary">Apply measure</button>
            <button id="apply-measure-ventilation-finish" data-dismiss="modal" class="btn btn-primary" style="display:none">Finish</button>
        </div>
    </div>

</div>