<h3>Water Heating</h3>

<h4>Hot water use</h4>
<table class="table">
    <tr>
        <td>Designed water use is not more than 125 litres per person per day (all water use, hot and cold)</td>
        <td style="text-align:center"><input key="data.water_heating.low_water_use_design" type="checkbox" /></td>
    </tr>
    <tr><th colspan="2"><b>Water efficiency</b>
            <span class="add-water-efficiency-from-lib if-master" style="cursor:pointer"><button class="btn" style="margin-left: 20px"><i class="icon-plus"></i> Add</button></span>
            <span class="apply-water-heating-measure if-not-master" type="water_efficiency" style="cursor:pointer"><button class="btn" style="margin-left: 20px"><i class="icon-plus"></i> Apply measure</button></span>
        </th>
    </tr>
</table>
<table class="table" id="water-efficiency" style="display:none"></table>
<table class="table">
    <tr>
        <td>Do you know how much energy you use for water heating? Checking this box will overwrite SAP calculations</td>
        <td style="text-align:center"><input key="data.water_heating.override_annual_energy_content" type="checkbox" /></td>
    </tr>
    <tr>
        <td>Annual average hot water usage V d,average</td>
        <td style="text-align:center"><span key="data.water_heating.Vd_average" dp=2></span> litres/day</td>
    </tr>
    <tr>
        <td>Annual energy content:</td>
        <td style="text-align:center; width:150px" id="annual_energy_content"></td>
    </tr>

</table>

<h4>Heating system</h4>

<table class="table">
    <tr>
        <td>Is water heating system instantaneous water heating at point of use (no hot water storage)</td>
        <td style="text-align:center; width:150px"><input key="data.water_heating.instantaneous_hotwater" type="checkbox" /></td>
    </tr>

    <tbody class="loss-interface">
        <tr>
            <td>How is the water heated?</td>
            <td  style="text-align:center; width:150px">
                <select key="data.water_heating.system" id="how_is_the_water_heated">
                    <option value="Community heating">Community heating</option>
                    <option value="Combi boiler">Combi boiler</option>
                    <option value="Electric inmersion heater">Electric inmersion heater</option>
                    <option value="CPSU">CPSU (including electric CPSU)</option>
                    <option value="Boiler and thermal store within a single casing">Boiler and thermal store within a single casing</option>
                    <option value="Separate boiler and thermal store connected by no more than 1.5m of insulated pipework">Separate boiler and thermal store connected by no more than 1.5m of insulated pipework</option>
                    <option value="Other">Other</option>
                </select>
            </td>
        </tr>
        <tr id="combi-boiler" style="display:none">
            <td>Combi boiler:</td>
            <td style="text-align:center; width:150px">
                <select key="data.water_heating.combi_boiler">
                    <option value="instantaneous_KH">Instantaneous, without keep-hot facility</option>
                    <option value="instantaneous_KH_TC">Instantaneous, with keep-hot facility controlled by time clock</option>
                    <option value="instantaneous_KH_nTC">Instantaneous, with keep-hot facility not controlled by time clock</option>
                    <option value="storage_over55">Storage combi boiler, store volume > 55 litres</option>
                    <option value="storage_less55">Storage combi boiler, store volume < 55 litres</option>
                </select>           
            </td>
        </tr>
        <tr style="display:none" id="combi-storage-volume">
            <td style="padding-left:40px">Volume of the close-coupled storage of the combi boiler</td>
            <td style="text-align:center; width:150px"><input type="number" key="data.water_heating.Vc" min="1" style="width:80px" /></td>
        </tr>
        <tr>
            <td>Include solar hot water input? [See: <a id="solarhotwater-link" href="">Solar Hot Water</a>] </td>
            <td style="text-align:center; width:150px"><input key="data.water_heating.solar_water_heating" type="checkbox" /></td>
        </tr>
        <tr >
            <td>Is there a storage?</td>
            <td style="text-align:center; width:150px"><input type="checkbox" key="data.water_heating.storage" style="width:80px" /></td>
        </tr>
</table>

<h4 class="storage loss-interface">Hot water storage</h4>
<table class="table storage loss-interface">
    <tr>
        <td>Is the hot water store inside the dwelling?</td>
        <td style="text-align:center; width:100px"><input key="data.water_heating.hot_water_store_in_dwelling" type="checkbox" /></td>
    </tr>    
    <tr>
        <td>Hot water control type:</td>
        <td style="text-align:center; width:100px">
            <select key="data.water_heating.hot_water_control_type">
                <option value="no_cylinder_thermostat" >No cylinder thermostat</option>
                <option value="cylinder_thermostat_without_timer">Cylinder thermostat, water heating not separately timed</option>
                <option value="cylinder_thermostat_with_timer">Cylinder thermostat, water heating separately timed</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Does the storage vessel contain a dedicated solar storage or WWHRS volume?</td>
        <td style="text-align:center; width:100px"><input key="data.water_heating.contains_dedicated_solar_storage_or_WWHRS" type="checkbox" /></td>
    </tr>
    <tr>
        <td>Storage volume (litres) including any solar or WWHRS storage within same vessel: <br>(If community heating and no tank in dwelling, enter 110. If no stored hot water (this includes instantaneous combi boilers) enter 0</td>
        <td style="text-align:center; width:100px"><input key="data.water_heating.storage_volume" type="text" style="width:80px" /></td>
    </tr>
    <tr>
        <td><b>Is the manufacturer’s declared loss factor for the storage vessel known?</b></td>
        <td style="text-align:center; width:100px"><input key="data.water_heating.declared_loss_factor_known" type="checkbox" /></td>
    </tr>

    <tbody class="declared-loss-factor-known">
        <tr>
            <td style="padding-left:40px">Manufacturer's declared loss factor (kWh/day)</td>
            <td style="text-align:center; width:100px"><input type="text" style="width:80px" key="data.water_heating.manufacturer_loss_factor" /></td>
        </tr>
        <tr>
            <td style="padding-left:40px">Temperature factor from Table 2b</td>
            <td style="text-align:center; width:100px"><input type="text" style="width:80px" key="data.water_heating.temperature_factor_a" /></td>
        </tr>
    </tbody>

    <tbody class="declared-loss-factor-not-known" style="display:none">
        <tr>
            <td style="padding-left:40px">Hot water storage loss factor from Table 2 (kWh/litre/day)<br>(If community heating see section 4.3)</td>

            <td style="text-align:center; width:100px"><input type="text" style="width:80px" key="data.water_heating.loss_factor_b" /></td>
        </tr>

        <tr>
            <td style="padding-left:40px">Volume factor from Table 2a:</td>
            <td style="text-align:center; width:100px"><input type="text" style="width:80px" key="data.water_heating.volume_factor_b" /></td>
        </tr>
        <tr>
            <td style="padding-left:40px">Temperature factor from Table 2b:</td>
            <td style="text-align:center; width:100px"><input type="text" style="width:80px" key="data.water_heating.temperature_factor_b" /></td>
        </tr>
    </tbody>
    <!--<tr>
        <td style="padding-left:40px">Energy lost from water storage, kWh/day:</td>
        <td style="text-align:center; width:100px"><span></span></td>
    </tr>    
    -->
</table>
