<h3>SAP Water Heating Gains</h3>

<table class="table">
  <tr>
    <td>Designed water use is not more than 125 litres per person per day (all water use, hot and cold)</td>
    <td style="text-align:center"><input key="data.water_heating.low_water_use_design" type="checkbox" /></td>
  </tr>
  
  <tr>
    <td>Annual average hot water usage V d,average</td>
    <td style="text-align:center"><span key="data.water_heating.Vd_average" dp=2></span> litres/day</td>
  </tr>
  <tr>
    <td>Annual energy content:</td>
    <td style="text-align:center; width:100px"><span key="data.water_heating.annual_energy_content" dp=0></span> kWh/year</td>
  </tr>

  <tr>
    <td>Is water heating system instantaneous water heating at point of use (no hot water storage)</td>
    <td style="text-align:center; width:100px"><input key="data.water_heating.instantaneous_hotwater" type="checkbox" /></td>
  </tr>
</table>

<div class="loss-interface">

  <table class="table">
    <tr>
      <td>Storage volume (litres) including any solar or WWHRS storage within same vessel: <br>(f community heating and no tank in dwelling, enter 110. If no stored hot water (this includes instantaneous combi boilers) enter 0</td>
      <td><input key="data.water_heating.storage_volume" type="text" style="width:80px" /></td>
    </tr>
    <tr>
      <td><b>Is the manufacturer’s declared loss factor for the storage vessel known?</b></td>
      <td style="text-align:center"><input key="data.water_heating.declared_loss_factor_known" type="checkbox" /></td>
    </tr>
    
    <tbody class="declared-loss-factor-known">
        <tr>
          <td style="padding-left:40px">Manufacturer's declared loss factor (kWh/day)</td><td><input type="text" style="width:80px" key="data.water_heating.manufacturer_loss_factor" /></td>
        </tr>
        <tr>
          <td style="padding-left:40px">Temperature factor from Table 2b</td><td><input type="text" style="width:80px" key="data.water_heating.temperature_factor_a" /></td>
        </tr>
    </tbody>
    
    <tbody class="declared-loss-factor-not-known" style="display:none">
    <tr>
      <td style="padding-left:40px">Hot water storage loss factor from Table 2 (kWh/litre/day)<br>(If community heating see section 4.3)</td>
      
      <td><input type="text" style="width:80px" key="data.water_heating.loss_factor_b" /></td>
    </tr>
    
    <tr>
      <td style="padding-left:40px">Volume factor from Table 2a:</td>
      <td><input type="text" style="width:80px" key="data.water_heating.volume_factor_b" /></td>
    </tr>
    <tr>
      <td style="padding-left:40px">Temperature factor from Table 2b:</td>
      <td><input type="text" style="width:80px" key="data.water_heating.temperature_factor_b" /></td>
    </tr>
    </tbody>
    <tr>
      <td style="padding-left:40px">Energy lost from water storage, kWh/day:</td>
      <td><span></span></td>
    </tr>
  </table>

</div>

<div class="loss-interface">
<table class="table" >
  <tr>
    <td>Include solar hot water input? [See: <a href="solarhotwater">Solar Hot Water</a>] </td>
    <td style="text-align:center; width:100px"><input key="data.water_heating.solar_water_heating" type="checkbox" /></td>
  </tr>
  <tr>
    <td>Is hot water provided by community heating?</td>
    <td style="text-align:center; width:100px"><input key="data.water_heating.community_heating" type="checkbox" /></td>
  </tr>
  <tr>
    <td>Is there a hot water store inside the dwelling?</td>
    <td style="text-align:center; width:100px"><input key="data.water_heating.hot_water_store_in_dwelling" type="checkbox" /></td>
  </tr>
  <tr>
    <td>Does the storage vessel contain a dedicated solar storage or WWHRS volume?</td>
    <td style="text-align:center; width:100px"><input key="data.water_heating.contains_dedicated_solar_storage_or_WWHRS" type="checkbox" /></td>
  </tr>
  <tr>
    <td>Hot water control type:</td>
    <td style="text-align:center; width:100px">
    <select key="data.water_heating.hot_water_control_type">
      <option value="no_cylinder_thermostat" >No cylinder thermostat</option>
      <option value="cylinder_thermostat_without_timer">Cylinder thermostat, water heating not separately timed</option>
      <option value="cylinder_thermostat_with_timer">Cylinder thermostat, water heating separately timed</option>
    </td>
  </tr>
</table>
</div>
