<div id="elements-container" class="page">


    <h3>SAP 2012 Worksheets</h3>
    <hr>
    <table class="table">
        <tr><td style="width: 20%">(4) Total Floor Area (TFA)</td><td><span key="data.TFA" dp="2"></span></td></tr>
        <tr><td>(5) Dwelling Volume</td><td><span key="data.volume" dp="2"></span></td></tr>
        <tr><td>(8) Infiltration due to chimneys, flues and fans</td><td><span key="data.ventilation.infiltration_chimeneyes_fires_fans" dp="2"></span></td></tr>
        <tr><td>(18) Infiltration rate </td><td><span key="data.ventilation.infiltration_rate" dp="2"></span></td></tr>
        <tr><td>(21) Infiltration rate incorporating shelter factor </td><td><span key="data.ventilation.infiltration_rate_incorp_shelter_factor" dp="2"></span></td></tr>
        <tbody class="monthly" key="data.ventilation.windfactor" title="(22am) Wind factor" units="" dp=2></tbody>
        <tbody class="monthly" key="data.ventilation.adjusted_infiltration" title="Adjusted infiltration rate (allowing for shelter and wind speed)" units="" dp=2></tbody>
        <tbody class="monthly" key="data.ventilation.effective_air_change_rate" title="(25) Effective air change rate" units="" dp=2></tbody>
        <tr><td>(31) Total area of elements</td><td><span key="data.fabric.total_external_area" dp="2"></span></td></tr>
        <tr><td>(32) Party wall </td><td><span key="data.fabric.total_party_wall_area" dp="2"></span></td></tr>
        <tr><td>(33) Fabric Heat loss</td><td><span key="data.fabric.fabric_heat_loss_WK" dp="2"></span></td></tr>
        <tr><td>(34) Heat Capacity</td><td><span key="data.fabric.total_thermal_capacity" dp="2"></span></td></tr>
        <tr><td>(35) Thermal mass paremeter</td><td><span key="data.TMP" dp="2"></span></td></tr>
        <tr><td>(36) Thermal Bridges</td><td><span key="data.fabric.thermal_bridging_heat_loss" dp="2"></span></td></tr>
        <tr><td>(37) Total Fabric Heat loss</td><td><span key="data.fabric.total_heat_loss_WK" dp="2"></span></td></tr>
        <tbody class="monthly" key="data.ventilation.SAP_ventilation_WK" title="(38) Ventilation heat loss calculated monthly" units="" dp=2></tbody>
        <tbody class="monthly" key="data.totalWK_monthly" title="(39) Heat transfer coefficient W/K monthly" units="" dp=2></tbody>
        <tr><td>(39) Heat transfer coefficient</td><td><span key="data.totalWK" dp="2"></span></td></tr>
        <tr><td>(42) Assumed occupancy</td><td><span key="data.occupancy" dp="2"></span></td></tr>
        <tbody class="monthly" key="data.water_heating.monthly_energy_content" title="(45m) Energy content of hot water calculated monthly" units="" dp=2></tbody>
        <tr><td>(45) Energy content of hot water</td><td><span key="data.water_heating.annual_energy_content" dp="2"></span></td></tr>
        <tbody class="monthly" key="data.water_heating.distribution_loss" title="(46m) Distribution loss" units="" dp=2></tbody>
        <tbody class="monthly" key="data.water_heating.monthly_storage_loss" title="(57m) Water storage loss monthly" units="" dp=2></tbody>
        <tr><td>(58) Water storage loss</td><td><span key="data.water_heating.energy_lost_from_water_storage" dp="2"></span></td></tr>
        <tbody class="monthly" key="data.water_heating.primary_circuit_loss" title="(59) Primary circuit loss" units="" dp=2></tbody>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
        <tr><td>() </td><td><span key="data." dp="2"></span></td></tr>
    </table>
</div>